
@{
    ViewBag.Title = "PostJob - ShibpurHub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src='@Scripts.Url("~/bundles/select2")' async> </script>
<script type="text/javascript">
    var advancedEditorForQuestion;
    $(document).ready(function () {
        // rich text editor for question description
        advancedEditorForQuestion = new Quill('.text-wrapper .editor-container', {
            modules: {
                'authorship': {
                    authorId: 'advanced',
                    enabled: true
                },
                'toolbar': {
                    container: '.text-wrapper .toolbar-container'
                },
                'link-tooltip': true,
                'image-tooltip': true,
                'multi-cursor': true
            },
            styles: false,
            theme: 'snow'
        });

        jQuery.support.cors = true;
        var SERVER = "/api/";
        //$('#select_categories').tokenInput("/api/categories/GetCategories");

        scAjax({
            "url": "skillsets/getskillsets",
            "success": function (result) {
                if (!result) {
                    return;
                }

                var categories = result;
                $(categories).each(function (i, category) {
                    var option = $('<option>').text(category.skillSetName).val(category.skillSetId);
                    $('#select_categories').append(option);
                });
            }
        });

        // enable select2 in the categories dropdown
        $('#select_categories').select2({
            placeholder: "Add multiple (,) separated skillsets",
            maximumSelectionLength: 5,
            tags: true,
            tokenSeparators: [',', ';', '\n', '\t']

        });

        $('#btn_Save_Question').on('click', function (e) {
            // remove the errors class if there is any
            if ($('#questiontitlediv').hasClass("has-error")) {
                $('#questiontitlediv').removeClass("has-error");
            }
            if ($('.editor-container').hasClass("has-error")) {
                $('.editor-container').removeClass("has-error");
            }
            if ($('#questiontagsdiv').hasClass("has-error")) {
                $('#questiontagsdiv').removeClass("has-error");
            }

            e.preventDefault();
            if ($("#newquestionform")[0].checkValidity()) {
                // validate question description rich text is not empty and has minimum no of characters
                var questiondescription = advancedEditorForQuestion.getHTML();
                // verify if question description is empty
                if (!questiondescription || $.trim(advancedEditorForQuestion.getText()) == "") {
                    // enable the button
                    $('#btn_Save_Question').prop('disabled', false);

                    // remove the loading class from save button
                    $('#btn_Save_Question > i').removeClass('fa fa-circle-o-notch fa-spin');
                    $('#btn_Save_Question > span').text('Save');

                    // show toast error
                    Command: toastr["error"]("Question body can't be empty");
                    return;
                }
                
                // disable the save button
                $('#btn_Save_Question').prop('disabled', true);
                // add spinner animation in the save button and change the text to 'Saving..'
                $('#btn_Save_Question > i').addClass('fa fa-circle-o-notch fa-spin');
                $('#btn_Save_Question > span').text(' Saving...');

                var question = $('#txt_question').val();
                var categories = $('#select_categories').select2('data');
                // form the categories array
                var categoryArr = [];
                jQuery.each(categories, function (index, value) {
                    categoryArr.push(categories[index].text);
                });

                var data = {
                    "jobtitle": question,
                    "jobdescription": questiondescription,
                    "skillsets": categoryArr
                };

                scAjax({
                    "url": "career/postjob",
                    "type": "POST",
                    "data": JSON.stringify(data, null, 2),
                    "success": function (result) {
                        if (!result) {
                            return;
                        }

                        document.location.href = "/career/" + result.jobId;
                    },
                    "error": function (err) {
                        var errorMessage = "";
                        // parse the error json
                        var errorresponse = jQuery.parseJSON(err.responseText);
                        jQuery.each(errorresponse.modelState, function (i, val) {
                            errorMessage += "<li>" + val + "</li>";
                        });

                        // if the error is because of duplicate question then make it as info
                        if (errorMessage.toLowerCase().indexOf("duplicate question") > 0)
                            Command: toastr["info"]("<ul>" + errorMessage + "</ul>");
                        else {
                            Command: toastr["error"]("<ul>" + errorMessage + "</ul>");
                        }

                        // enable the button
                        $('#btn_Save_Question').prop('disabled', false);
                        // remove the loading class from save button
                        $('#btn_Save_Question > i').removeClass('fa fa-circle-o-notch fa-spin');
                        $('#btn_Save_Question > span').text('Save');
                    }
                });
            } else {
                if ($('#txt_question').val() == "") {
                    // check if question title is empty
                    if (!$('#questiontitlediv').hasClass("has-error")) {
                        $('#questiontitlediv').addClass("has-error");
                        Command: toastr["error"]("Question title can't blank")
                    }
                }
                if ($.trim(advancedEditor.getText()).length == 0) {
                    // check if question title is empty
                    if (!$('.editor-container').hasClass("has-error")) {
                        $('.editor-container').addClass("has-error");
                        Command: toastr["error"]("Question body can't blank")
                    }
                }
                if ($('#select_categories').val() == "") {
                    // check if question title is empty
                    if (!$('#questiontagsdiv').hasClass("has-error")) {
                        $('#questiontagsdiv').addClass("has-error");
                        Command: toastr["error"]("You have to add minimum one tag")
                    }
                }

            }
        });
    });
</script>
<style type="text/css">
    /*set the css in the tagging select control to look like a bootstrap control*/
    .select2-search__field {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #dce4ec;
    }

    .select2-container--default .select2-selection--multiple {
        border: 2px solid #dce4ec;
    }

    .form-group .control-label {
        padding-left: 15px;
        padding-bottom: 10px;
    }

    .select2 {
        width: 100% !important;
    }
</style>

<h3>Post A Job</h3>
<hr />
<div class="panel-body">

    <form action="#" class="form-horizontal" method="post" role="form" id="newquestionform">
        <div class="col-md-9 col-xs-12">
            <div class="form-group" style="margin-bottom: 15px; overflow: auto;">
                <label class="control-label" for="Question">Job title</label>
                <div class="col-md-12" id="questiontitlediv">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" id="txt_question" placeholder="Job title" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="DetailedText">Job Description</label>
                <div class="col-md-12">
                    @*<textarea class="form-control" id="txtarea_description" placeholder="Please provide details about your question" rows="3" required></textarea>*@
                    <div class="wirte-question">
                        @*<textarea class="textarea" placeholder="Write your answer" style="width: 100%; height: 150px; font-size: 14px; line-height: 18px; padding: 10px 10px 10px 10px"></textarea>*@
                        <div class="text-wrapper col-md-12">
                            <div class="toolbar-container">
                                <span class="ql-format-group">
                                    <select title="Size" class="ql-size">
                                        <option value="10px">Small</option>
                                        <option value="13px" selected>Normal</option>
                                        <option value="18px">Large</option>
                                        <option value="32px">Huge</option>
                                    </select>
                                </span>
                                <span class="ql-format-group"><span title="Bold" class="ql-format-button ql-bold"></span><span class="ql-format-separator"></span><span title="Italic" class="ql-format-button ql-italic"></span><span class="ql-format-separator"></span><span title="Underline" class="ql-format-button ql-underline"></span></span><span class="ql-format-group">
                                    <select title="Text Color" class="ql-color">
                                        <option value="rgb(0, 0, 0)" selected></option>
                                        <option value="rgb(230, 0, 0)"></option>
                                        <option value="rgb(255, 153, 0)"></option>
                                        <option value="rgb(255, 255, 0)"></option>
                                        <option value="rgb(0, 138, 0)"></option>
                                        <option value="rgb(0, 102, 204)"></option>
                                        <option value="rgb(153, 51, 255)"></option>
                                        <option value="rgb(255, 255, 255)"></option>
                                        <option value="rgb(250, 204, 204)"></option>
                                        <option value="rgb(255, 235, 204)"></option>
                                        <option value="rgb(255, 255, 204)"></option>
                                        <option value="rgb(204, 232, 204)"></option>
                                        <option value="rgb(204, 224, 245)"></option>
                                        <option value="rgb(235, 214, 255)"></option>
                                        <option value="rgb(187, 187, 187)"></option>
                                        <option value="rgb(240, 102, 102)"></option>
                                        <option value="rgb(255, 194, 102)"></option>
                                        <option value="rgb(255, 255, 102)"></option>
                                        <option value="rgb(102, 185, 102)"></option>
                                        <option value="rgb(102, 163, 224)"></option>
                                        <option value="rgb(194, 133, 255)"></option>
                                        <option value="rgb(136, 136, 136)"></option>
                                        <option value="rgb(161, 0, 0)"></option>
                                        <option value="rgb(178, 107, 0)"></option>
                                        <option value="rgb(178, 178, 0)"></option>
                                        <option value="rgb(0, 97, 0)"></option>
                                        <option value="rgb(0, 71, 178)"></option>
                                        <option value="rgb(107, 36, 178)"></option>
                                        <option value="rgb(68, 68, 68)"></option>
                                        <option value="rgb(92, 0, 0)"></option>
                                        <option value="rgb(102, 61, 0)"></option>
                                        <option value="rgb(102, 102, 0)"></option>
                                        <option value="rgb(0, 55, 0)"></option>
                                        <option value="rgb(0, 41, 102)"></option>
                                        <option value="rgb(61, 20, 102)"></option>
                                    </select><span class="ql-format-separator"></span>
                                    <select title="Background Color" class="ql-background">
                                        <option value="rgb(0, 0, 0)"></option>
                                        <option value="rgb(230, 0, 0)"></option>
                                        <option value="rgb(255, 153, 0)"></option>
                                        <option value="rgb(255, 255, 0)"></option>
                                        <option value="rgb(0, 138, 0)"></option>
                                        <option value="rgb(0, 102, 204)"></option>
                                        <option value="rgb(153, 51, 255)"></option>
                                        <option value="rgb(255, 255, 255)" selected></option>
                                        <option value="rgb(250, 204, 204)"></option>
                                        <option value="rgb(255, 235, 204)"></option>
                                        <option value="rgb(255, 255, 204)"></option>
                                        <option value="rgb(204, 232, 204)"></option>
                                        <option value="rgb(204, 224, 245)"></option>
                                        <option value="rgb(235, 214, 255)"></option>
                                        <option value="rgb(187, 187, 187)"></option>
                                        <option value="rgb(240, 102, 102)"></option>
                                        <option value="rgb(255, 194, 102)"></option>
                                        <option value="rgb(255, 255, 102)"></option>
                                        <option value="rgb(102, 185, 102)"></option>
                                        <option value="rgb(102, 163, 224)"></option>
                                        <option value="rgb(194, 133, 255)"></option>
                                        <option value="rgb(136, 136, 136)"></option>
                                        <option value="rgb(161, 0, 0)"></option>
                                        <option value="rgb(178, 107, 0)"></option>
                                        <option value="rgb(178, 178, 0)"></option>
                                        <option value="rgb(0, 97, 0)"></option>
                                        <option value="rgb(0, 71, 178)"></option>
                                        <option value="rgb(107, 36, 178)"></option>
                                        <option value="rgb(68, 68, 68)"></option>
                                        <option value="rgb(92, 0, 0)"></option>
                                        <option value="rgb(102, 61, 0)"></option>
                                        <option value="rgb(102, 102, 0)"></option>
                                        <option value="rgb(0, 55, 0)"></option>
                                        <option value="rgb(0, 41, 102)"></option>
                                        <option value="rgb(61, 20, 102)"></option>
                                    </select><span class="ql-format-separator"></span>

                                </span><span class="ql-format-group">
                                    <span title="List" class="ql-format-button ql-list"></span>
                                    <span class="ql-format-separator"></span>
                                    <span title="Bullet" class="ql-format-button ql-bullet"></span>
                                    <span class="ql-format-separator"></span>
                                    <select title="Text Alignment" class="ql-align">
                                        <option value="left" selected></option>
                                        <option value="center"></option>
                                        <option value="right"></option>
                                        <option value="justify"></option>
                                    </select>
                                </span>
                                <span class="ql-format-group">
                                    <span title="Link" class="ql-format-button ql-link"></span>
                                    <span class="ql-format-separator"></span>
                                    <span title="Image" class="ql-format-button ql-image"></span>
                                </span>
                            </div>
                            <div class="editor-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Categories">Skillsets required</label>
                <div class="col-md-12" id="questiontagsdiv">
                    <div class="form-group">
                        <div class="col-md-12">
                            <select class="form-control" multiple="multiple" id="select_categories" placeholder="You can add multiple tags comma(,) separeted" type="text" required></select>
                            <a class="twelvepxfont" target="_blank" href="/Tags">See all tags</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" id="btn_Save_Question" class="btn btn-primary">
                        <i></i><span>Post job</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

