<script type="text/javascript">
    $(document).ready(function () {

        $('#changepasswordsubmit').on('click', function (e) {
            e.preventDefault();
            if ($(".passwordchangeform")[0].checkValidity()) {
                var oldpassword = $('#oldpassword').val();
                var newpassword = $('#newpassword').val();
                var confirmpassword = $('#confirmpassword').val();

                // add spinner animation in the save button and change the text to 'Saving..'
                $('#changepasswordsubmit > i').addClass('fa fa-circle-o-notch fa-spin');
                $('#changepasswordsubmit > span').text(' Saving...');

                scAjax({
                    "url": "account/changepassword",
                    "type": "POST",
                    "data": JSON.stringify({ "OldPassword": oldpassword, "NewPassword": newpassword, "ConfirmPassword": confirmpassword }),
                    "success": function (result) {
                        Command: toastr["success"]("Successfully changed your password")
                        // remove the loading class from save button
                        $('#changepasswordsubmit > i').removeClass('fa fa-circle-o-notch fa-spin');
                        $('#changepasswordsubmit > span').text('Save');

                        // reset the text fields
                        $('#oldpassword').val("");
                        $('#newpassword').val("");
                        $('#confirmpassword').val("");
                    },
                    "error": function (XMLHttpRequest, textStatus, errorThrown) {
                        if (XMLHttpRequest.status == "401")
                            window.location.href = "/account/login";
                        else {
                            var errorMessage = "";
                            // parse the error json
                            var errorresponse = jQuery.parseJSON(XMLHttpRequest.responseText);
                            jQuery.each(errorresponse.modelState, function (i, val) {
                                errorMessage += "<li>" + val + "</li>";
                            });
                            // toastr notification
                            Command: toastr["error"]("<ul>" + errorMessage + "</ul>")

                            // remove the loading class from save button
                            $('#changepasswordsubmit > i').removeClass('fa fa-circle-o-notch fa-spin');
                            $('#changepasswordsubmit > span').text('Save');
                        }
                    }
                });
            } else Command: toastr["error"]("All form fields are mandatory")

        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading changepasswordheading">Change Password</div>
    <div class="panel-body changepasswordbody">
        <form class="passwordchangeform top-buffer2 form-horizontal" method="post">
            <div class="form-group">
                <label for="oldpassword" class="col-md-3 control-label">Current password</label>
                <div class="col-md-9">
                    <input class="form-control oldpassword" data-val="true" data-val-required="The Password field is required." id="oldpassword" name="Password" placeholder="Current password" type="password" aria-required="true" required>
                </div>
            </div>
            <div class="form-group">
                <label for="newpassword" class="col-md-3 control-label">New password</label>
                <div class="col-md-9">
                    <input class="form-control password" data-val="true" data-val-required="The Password field is required." id="newpassword" name="Password" placeholder="New password" required type="password" aria-required="true" required>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmpassword" class="col-md-3 control-label">Confirm password</label>
                <div class="col-md-9">
                    <input class="form-control confirmpassword" data-val="true" data-val-required="The Password field is required." id="confirmpassword" name="Password" placeholder="Confirm new password" type="password" aria-required="true" required>
                </div>
            </div>            
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <button type="submit" value="Save" id="changepasswordsubmit" class="btn btn-primary btn-sm changepasswordsubmit">
                        <i></i><span>Save</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>



