@model ShibpurConnectWebApp.Models.WebAPI.EducationalHistories

<style type="text/css">
     span#department {
        font-size: 15px;
    }
     hr#dotted {
        border-top: 1px dotted rgb(234, 231, 231);
        color: #fff;
        background-color: #fff;
        margin: 8px 0 8px 0;
    }

    hr {
        border-top: 1px solid rgb(234, 231, 231);
        margin: 8px 0 8px 0;
    }

    #collegeName span, #department span {
        font-size: 15px;
    }

    #collegeName {
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    var documentToDelete;
    $(document).ready(function () {
        
        jQuery.support.cors = true;
        var SERVER = "/api/";
        // get current user email from session
        var userDetails = localStorage.getItem("SC_Session_UserDetails");
        if (!userDetails) {
            //TO-DO: Handle if userdetail is not available in Session Storage
            return;
        }       

        var userInfo = $.parseJSON(userDetails);
        profileEmail = userInfo.email;        

        //save new education
        $('#addNewEducation').on('click', function (e) {
            e.preventDefault();
            if ($(".educationform")[0].checkValidity()) {
                saveEducationalHistory();
            } else Command: toastr["error"]("All form fields are mandatory");

        });

        // expand the new education form on click of ' Add education' button
        $("#newEducation").on('click', function (e) {
            $("#neweducationdiv").slideToggle();
        });
    });


    // method to save new educational history
    function saveEducationalHistory() {
        jQuery.support.cors = true;
        var SERVER = "/api/";

        var token = sessionStorage.getItem("accessToken") || "PTLp2jwqIgLZmDBqjtADmHdtHmKpEmy-KtrdrocIBR5dz2k0uHNdgLdeqm6bFODmjUxsgNkcr0LI2UGaT6xve1gxPaHjLAyqneD69pKNIVwpo6mGtiaemzfJFVgV_FS_Q6TzA5InNb16tGCu3VNoYdqQEJu-jLiX3uN3FNAjAUKElpYZbjk5fYZ7ZKZ3T0w7utu0rbNI2BWuxo4HADZ4wrvI1J_-8qnd4Sq1kYWBkdPFeqDO2HQ8Io-IiKSDmnFS";
        var educationalHistory = '{"Department":' + '"' + $('#DepartmentDropdown option:selected').text() + '"' + ',"UniversityName":' + '"' + $('#universityname').val() + '"' + ',"GraduateYear":' + '"' + $('#GraduateYear').val() + '"' + '}';

        // add spinner animation in the save button and change the text to 'Saving..'
        $('#addNewEducation > i').addClass('fa fa-circle-o-notch fa-spin');
        $('#addNewEducation > span').text(' Saving...');
        $.ajax({
            url: SERVER + "EducationalHistories/PostEducationalHistory",
            type: "POST",
            data: educationalHistory,
            contentType: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data, result) {
                if (result) {
                    // display success message
                    Command: toastr["success"]("Saved educational data",{
                    timeOut: 0,
                    extendedTimeOut: 0
                });
                    // disply loading spinner
                    $('#loadingeducations').show();
                    // remove the loading class from save button
                    $('#addNewEducation > i').removeClass('fa fa-circle-o-notch fa-spin');
                    $('#addNewEducation > span').text('Save');          
                    // toggle the 'Add education' button, so that the form will get close
                    $("#neweducationdiv").slideToggle();
                    // get the latest data from server and update the profile page
                    loadEducations();                    
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var errorMessage = "";
                // parse the error json
                var errorresponse = jQuery.parseJSON(XMLHttpRequest.responseText);
                jQuery.each(errorresponse.modelState, function (i, val) {
                    errorMessage += "<li>" + val + "</li>";
                });
                // toastr notification
                Command: toastr["error"]("<ul>" + errorMessage + "</ul>")
              
                // remove the loading class from save button
                $('#addNewEducation > i').removeClass('fa fa-circle-o-notch fa-spin');
                $('#addNewEducation > span').text('Save');
            }
        });        
    }    

    // get the existing education details, when user load this partial view
    function loadEducations() {
        // disply loading spinner
        $('#loadingeducations').show();
        var SERVER = "/api/";
        $.ajax({
            url: SERVER + "educationalhistories/GetEducationalHistories",
            type: "GET",
            dataType: "json",
            data: { "userId": userInfo.id },
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function (result) {
                if (!result) {
                    return;
                }

                // clear div content
                $('.educationbody').empty();

                // iterate over all the educational histories
                if (result != null) {
                    jQuery.each(result, function (i, val) {
                        $('.educationbody').append("<div id='" + val.id + "'class=\"educationalDetails\"><span id=\"collegeName\">" + val.universityName +"</span>,<span id=\"department\">" + val.department + "</span><br><span id=\"year\">" + val.graduateYear + "</span></div>");
                        $('.educationbody').append("<div style='float:right;'><button class='btn btn-primary btn-xs' id='editeducationinfobutton' onclick='loadEditEducationForm($(this).parent().prev()); return false;'>Edit</button>&nbsp;&nbsp;<button class='btn btn-primary btn-xs' id='deleteeducationinfobutton' onclick='deleteEducation($(this).parent().prev());'><i></i><span>Delete</span></button></div><br />");
                        //$('.educationbody').append("<a class='btn btn-success closejob' style='margin-bottom: 20px;' data-toggle='modal' data-target='#deleteducationemodal'><b>Close this job</b></a><br>");
                        $('.educationbody').append("<hr id='dotted'/>");
                    });
                }

                // hide the loading spinner
                $('#loadingeducations').hide();
            },           
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var errorText = XMLHttpRequest.responseText.replace('{"message":"', " ").replace('"}', " ");
                Command: toastr["error"](errorText)

                // hide the loading spinner
                $('#loadingeducations').hide();
            }
        });
    }


    // this will trigger when user will click on the 'Edit' button of the individual education history.
    // this method will populate the values in the form field
    function loadEditEducationForm(req) {
        $("#editeducationdiv").slideToggle();
        var universityname = req.find('span#collegeName').text();
        var graduateyear = req.find('span#year').text();
        var departmentName = req.find('span#department').text();

        // set the form field values
        $("#editEducationButton").attr("onclick", "saveEditEducation('" + req[0].id + "'); return false;");
        $(".editeduniversityname").val(universityname);
        $(".editedgraduateyear").val(graduateyear);

        // read the corresponding option value and set it in the dropdown
        $('select#EditedDepartmentDropdown').find('option').each(function () {
            if ($(this).text() == departmentName.trim()) {
                $("#EditedDepartmentDropdown").val($(this).val()).change();
                return false;
            }
        });
    }

    // if user click on the Cancel button in the newEducation div then collapse that div
    function cancelSaveEducationalHistory() {
        $("#neweducationdiv").slideToggle();
    }

    // method to save the employment details to database after changes done by user
    function saveEditEducation(educationId) {
        jQuery.support.cors = true;
        var SERVER = "/api/";
        var userDetails = localStorage.getItem("SC_Session_UserDetails");
        if (!userDetails) {
            //TO-DO: Handle if userdetail is not available in Session Storage
            // show the error dialog
            return;
        }

        var userInfo = $.parseJSON(userDetails);
        var token = sessionStorage.getItem("accessToken") || "PTLp2jwqIgLZmDBqjtADmHdtHmKpEmy-KtrdrocIBR5dz2k0uHNdgLdeqm6bFODmjUxsgNkcr0LI2UGaT6xve1gxPaHjLAyqneD69pKNIVwpo6mGtiaemzfJFVgV_FS_Q6TzA5InNb16tGCu3VNoYdqQEJu-jLiX3uN3FNAjAUKElpYZbjk5fYZ7ZKZ3T0w7utu0rbNI2BWuxo4HADZ4wrvI1J_-8qnd4Sq1kYWBkdPFeqDO2HQ8Io-IiKSDmnFS";
        var educationalHistory = '{"Id":' + '"' + educationId + '"' + ',"Department":' + '"' + $('#EditedDepartmentDropdown option:selected').text() + '"' + ',"UniversityName":' + '"' + $('.editeduniversityname').val() + '"' + ',"GraduateYear":' + '"' + $('.editedgraduateyear').val() + '"' + ',"UserId":' + '"' + userInfo.id + '"' + '}';

        // add spinner animation in the save button and change the text to 'Saving..'
        $('#editEducationButton > i').addClass('fa fa-circle-o-notch fa-spin');
        $('#editEducationButton > span').text(' Saving...');

        $.ajax({
            url: SERVER + "educationalhistories/editeducationalhistory",
            type: "POST",
            data: educationalHistory,
            contentType: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data, result) {
                if (result) {
                    // close the new edit employment form
                    $("#editeducationdiv").slideToggle();
                    // clear the previous values
                    $('#CompanyName').val("");
                    $('input#employmentfromdate').val("");
                    $('#employmenttodate').val("");
                    $('#Title').val("");
                    $('#Location').val("");

                    // remove the loading class from save button
                    $('#editEducationButton > i').removeClass('fa fa-circle-o-notch fa-spin');
                    $('#editEducationButton > span').text('Update');

                    // get the latest data from server and update the profile page
                    loadEducations();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var errorMessage = "";
                // parse the error json
                var errorresponse = jQuery.parseJSON(XMLHttpRequest.responseText);

                Command: toastr["error"](errorresponse.message);
                // remove the loading class from save button
                $('#editEducationButton > i').removeClass('fa fa-circle-o-notch fa-spin');
                $('#editEducationButton > span').text('Save');
            }
        });
    }

    function cancelEditEducationHistory() {
        $("#editeducationdiv").slideToggle();
        $('html, body').animate({ scrollTop: $("#newemploymentdiv").offset().top - 50 }, 'slow');
    }

    // method to delete a educational record
    function deleteEducation(req) {
        educationId = req[0].id;
        jQuery.support.cors = true;
        var SERVER = "/api/";
        var userDetails = localStorage.getItem("SC_Session_UserDetails");
        if (!userDetails) {
            //TO-DO: Handle if userdetail is not available in Session Storage
            // show the error dialog
            return;
        }
        var userInfo = $.parseJSON(userDetails);
        var token = sessionStorage.getItem("accessToken") || "PTLp2jwqIgLZmDBqjtADmHdtHmKpEmy-KtrdrocIBR5dz2k0uHNdgLdeqm6bFODmjUxsgNkcr0LI2UGaT6xve1gxPaHjLAyqneD69pKNIVwpo6mGtiaemzfJFVgV_FS_Q6TzA5InNb16tGCu3VNoYdqQEJu-jLiX3uN3FNAjAUKElpYZbjk5fYZ7ZKZ3T0w7utu0rbNI2BWuxo4HADZ4wrvI1J_-8qnd4Sq1kYWBkdPFeqDO2HQ8Io-IiKSDmnFS";
       
        // add spinner animation in the save button and change the text to 'Saving..'
        $('#deleteeducationinfobutton > i').addClass('fa fa-circle-o-notch fa-spin');
        $('#deleteeducationinfobutton > span').text(' Deleting...');

        $.ajax({
            url: SERVER + "educationalhistories/deleteeducationalhistory?id=" + educationId,
            type: "DELETE",
            contentType: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data, result) {
                if (result) {                  
                    // display toast notification
                    Command: toastr["success"]("Deleted eucational record", {
                        timeOut: 0,
                        extendedTimeOut: 0
                    });

                    // remove the loading class from save button
                    $('#deleteeducationinfobutton > i').removeClass('fa fa-circle-o-notch fa-spin');
                    $('#deleteeducationinfobutton > span').text('Delete');

                    // get the latest data from server and update the profile page
                    loadEducations();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var errorMessage = "";
                // parse the error json
                var errorresponse = jQuery.parseJSON(XMLHttpRequest.responseText);

                Command: toastr["error"](errorresponse.message);
                // remove the loading class from save button
                $('#editEducationButton > i').removeClass('fa fa-circle-o-notch fa-spin');
                $('#editEducationButton > span').text('Save');
            }
        });
    }

</script>

<!--div for loading spinner-->
<div id="loadingeducations" class="center-block col-md-4" style="float: none;margin-left:300px;margin-top:150px; display:none; position:fixed;">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>

<div class="panel panel-default">
    <div class="panel-heading educationheading">Manage Education</div>
    <div class="panel-body">
        <div class="educationbody">
        </div>
        <button class="btn btn-primary btn-xs" id="newEducation">Add Education</button><br />      
    </div>
</div>

 <!--Add new education div -->
<div id="neweducationdiv" style="display:none">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="educationform top-buffer2 form-horizontal" method="post">
                <div class="form-group">
                    <label for="universityname" class="col-md-3 control-label">University name</label>
                    <div class="col-md-9">
                        <input class="form-control universityname" data-val="true" data-val-required="The Password field is required." id="universityname" name="UniversityName" placeholder="University name" type="text" aria-required="true" required>
                    </div>
                </div>

                @Html.Partial("../PartialViews/_DepartmentDropdown")

                <div class="form-group">
                    <label for="GraduateYear" class="col-md-3 control-label">Graduation year</label>
                    <div class="col-md-9">
                        <input class="form-control GraduateYear" data-val="true" data-val-required="The Password field is required." id="GraduateYear" name="Password" placeholder="Passout year/expected passout year" type="text" aria-required="true" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <button type="submit" id="addNewEducation" class="btn btn-primary btn-sm">
                            <i></i><span>Save</span>
                        </button>
                        <input type="submit" class="btn btn-primary btn-sm" value="Cancel" onclick="cancelSaveEducationalHistory(); return false;" />
                    </div>
                    </div>
            </form>
        </div>
    </div>
</div>

 <!--Add new edit education div -->
<div id="editeducationdiv" style="display: none">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="educationform top-buffer2 form-horizontal" method="post">
                <div class="form-group">
                    <label for="universityname" class="col-md-3 control-label">University name</label>
                    <div class="col-md-9">
                        <input class="form-control editeduniversityname" data-val="true" data-val-required="The Password field is required." id="universityname" name="UniversityName" placeholder="University name" type="text" aria-required="true" required>
                    </div>
                </div>

                @Html.Partial("../PartialViews/_EditedDepartmentDropdown")

                <div class="form-group">
                    <label for="GraduateYear" class="col-md-3 control-label">Graduation year</label>
                    <div class="col-md-9">
                        <input class="form-control editedgraduateyear" data-val="true" data-val-required="The Password field is required." id="GraduateYear" name="Password" placeholder="Passout year/expected passout year" type="text" aria-required="true" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <button type="submit" id="editEducationButton" class="btn btn-primary btn-sm">
                            <i></i><span>Update</span>
                        </button>
                        <input type="submit" class="btn btn-primary btn-sm" value="Cancel" onclick="cancelEditEducationHistory(); return false;"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal to delete an educational details-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="deleteducationemodal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Education History</h4>
            </div>

            <div class="modal-body">
                <p>You are about to delete your education history.</p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" id="deleteconfirm">Delete</a>
            </div>
        </div>
    </div>
</div>

