@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<!--this knockout js will save the token in the session storage and we want to make the call only when user is logged in-->
@if (User.Identity.IsAuthenticated)
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

<style type="text/css">
    #error-container {
        margin-top: 10px;
        position: fixed;
    }

    .top-buffer {
        margin-top: 30px;
    }

    .top-buffer2 {
        margin-top: 15px;
    }

    .glyphicon {
        margin-right: 10px;
    }
    
    
    .panel-body.no-lr-padding
    {
        padding: 0;
    }
    .panel-body table tr td {
        padding-left: 15px;
    }

    .panel-body .table {
        margin-bottom: 0px;
    }
    
    .links a
    {
        border: none;
        padding-right: 10px;
        color: #66757f;
        text-decoration: inherit;
    }
    .links tr.selected
    {
        font-weight: bold;
        background-color: #ecf0f1;
    }
</style>
<script type="text/javascript">
    function displayDiv(divName) {
        if(divName)
        {
            return;
        }
        $('.bodycontent').children().hide();
        $('#' + divName).show();
        $('.links tr.selected').removeClass('selected');
        $("a[data-manage='" + divName +"']").closest('tr').addClass('selected');
        
        if(divName == 'manageeducation')
        {
            loadEducations();
        }
        
        if(divName == 'manageexperience')
        {
            loadEmployments();
        }
    }
    $(document).ready(function(){
        var hash = window.location && window.location.hash;
	    var id = hash && hash.slice( 1 );
        var divName = id ? id.toLowerCase() : "personalinfo";
        displayDiv(divName);
        
        $('.links tr td a').click(function(event){
            event.preventDefault();
            displayDiv($(this).attr('data-manage'));
        });
    })
</script>

<div class="container">
    <div class="row top-buffer">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Profile
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body no-lr-padding">
                            <table class="table links">
                                <tr class="selected">
                                    <td>
                                        <a data-manage="personalinfo" href="#">Personal Info</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a data-manage="manageeducation" href="#">Manage Education</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a data-manage="manageexperience" href="#">Manage Experience</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Account
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table links">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                        <a href="#" data-manage="deleteaccount" class="text-danger">
                                            Delete Account
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="bodycontent">
                <div id="personalinfo">
                    @{ Html.RenderPartial("_PersonalInfo"); }
                </div>
                <div id="changepassword" style="display:none;">
                    @{ Html.RenderPartial("_ChangePassword"); }
                </div>
                <div id="manageeducation" style="display:none;">
                    @{ Html.RenderPartial("_EducationalHistory"); }
                </div>
                <div id="manageexperience" style="display: none;">
                    @{ Html.RenderPartial("_EmploymentHistory"); }
                </div>
                <div id="deleteaccount" style="display: none;">
                    @{ Html.RenderPartial("_DeleteAccount"); }
                </div>
            </div>
        </div>
    </div>
</div>
