@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<style type="text/css">
    #error-container {
        margin-top: 10px;
        position: fixed;
    }

    .top-buffer {
        margin-top: 30px;
    }

    .top-buffer2 {
        margin-top: 15px;
    }

    .glyphicon {
        margin-right: 10px;
    }

    .panel-body table tr td {
        padding-left: 15px;
    }

    .panel-body .table {
        margin-bottom: 0px;
    }
</style>
<script type="text/javascript">
    function DisplayDiv(divName) {
        $('.bodycontent').children().hide();
        $('.' + divName).show();
    }
</script>

<div class="container">
    <div class="row top-buffer">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Profile
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#" onclick="DisplayDiv('personalinfo')">Personal Info</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" onclick="DisplayDiv('educationalbackground');loadEducations();">Manage Education</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" onclick="DisplayDiv('experiencebackground');loadEmployments();">Manage Experience</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Account
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="#" class="text-danger">
                                            Delete Account
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="bodycontent">
                <div class="personalinfo">
                    @{ Html.RenderPartial("_PersonalInfo"); }
                </div>
                <div class="changepassword" style="display:none;">
                    @{ Html.RenderPartial("_ChangePassword"); }
                </div>
                <div class="educationalbackground" style="display:none;">
                    @{ Html.RenderPartial("_EducationalHistory"); }
                </div>
                <div class="experiencebackground" style="display: none;">
                    @{ Html.RenderPartial("_EmploymentHistory"); }
                </div>
            </div>
        </div>
    </div>
</div>
