
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Http403</title>
</head>
<body>
    <h1>This is a 403 page</h1>
</body>
</html>
