@{
    ViewBag.Title = "Privacy Policy - ShibpurHub";
}



<div class="col-md-12 col-xs-12">
    <h2>Privacy Policy</h2>
    Your privacy is very important to us and we take it seriously. This document highlights the Privacy Policy that Shibpurhub adheres to when managing your information and data. Information regarding your personal profile and activities on Shibpurhub will not be shared except in the manner described by this Privacy Policy. We also encourage you to read the Terms of Service document in addition to thr Privacy Policy to understand the scope and manner in which Shibpurhub will use or share the information you provide.

    <br /><br />
    <p style="font-size: 20px; font-weight: bold">Information Collection and Use</p>
        Shibpurhub uses the information from its users and patrons to analyze how the Service is being used, diagnose service or technical problems, maintain security, personalize the content, remember information to help you efficiently access your personal account, monitor metadata such as total number of visitors, and traffic; we also track User Content and users as necessary to ensure that those outside the BEC/BESU/IIEST Shibpur community cannot use our services without authorization.

    <br /><br />
    <p style="font-size: 20px; font-weight: bold">User-Provided Information:</p>
        You provide us information about yourself, such as your name and e-mail address, if you register for a member account with the Service. Your name and other information you choose to add to your profile will be available for public viewing on the Service. You may provide us with your mobile phone number if you choose to. We may use your email address to send you Service-related notices (including any notices required by law). You will, however, be able to control the receipt of certain Service-related messages on your Settings page. However, for messages required to be sent by law, the authority of law shall take precedence. We may also use your contact information to send you marketing email messages. If you do not want to receive such messages, you may opt out by following the instructions in the message. If you correspond with us by email, we may retain the content of your email messages, your email address and our responses. If you use another social networking site account information to sign in to Shibpurhub, we will collect and store your SNS user ID. If you add a profile picture to your account, or otherwise add images, we will use imgur.com to store your pictures.
        You also provide us information as User Content that you post to the Shibpurhub portal. Your questions, answers, and other contributions here, and metadata about them (such as when you posted them), are all publicly viewable on the Service, along with your name (unless the Service permits you to post anonymously). This information may be searched by search engines and be republished elsewhere on the Web.
        If you choose to use our service to invite a friend to Shibpurhub, we will ask you for that person's email address and automatically send an email invitation. You may also use our contact importer tool to help you upload your friends' email addresses so you can find friends who are already on Shibpurhub or invite friends to the Service. Shibpurhub stores this information to send invitations, to register your friend if your invitation is accepted, to track the success of our invitation service, and to identify your friends on Shibpurhub.

    <br /><br />
    <p style="font-size: 20px; font-weight: bold">Information Collected Automatically:</p>
        When you use the Service, we use persistent and session cookies and other tracking technologies to: (a) store your username and password; (b) analyze the usage of the Service; and (c) customize the Service to your preferences. A persistent cookie remains on your computer after you close your browser so that it can be used by your browser on subsequent visits to the Service. Persistent cookies can be removed by following your web browser's directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. However, some features of the Service may not function properly if the ability to accept cookies is disabled.
        We may also use other Internet technologies, log files, clear GIFs, Flash technologies, and other similar technologies, to deliver or communicate with cookies and track your use of the Service. We also may include clear GIFs in HTML-based emails sent to our users to determine whether the message has been opened. As we adopt additional technology, we may also gather additional information through other methods.
        We use these automated technologies to collect and analyze certain types of information we consider to be non-personal information, including: (a) information related to the devices or browsers you use to access or interact with the Service, such as: IP addresses, geolocation information, unique device identifiers and other information about your mobile phone or other mobile device(s), browser types, browser language, and unique numbers or codes in cookies; and (b) information related to the ways in which you interact with the Service, such as: referring and exit pages and URLs, platform type, the number of clicks, domain names, landing pages, pages viewed and the order of those pages, the amount of time spent on particular pages, the date and time you used the Service, and other similar information. We may also capture other data, such as search criteria and results.
        Shibpurhub may choose to disclose a subset of this automatically collected information publicly. Specifically, you consent to Shibpurhub's disclosure of information related to the ways in which you interact with the Service, such as: landing pages, pages viewed and the order of those pages (including questions and answers viewed), the date and time you used the Service, and other similar information on the Service to other Shibpurhub users, along with your name and profile picture.
        We may collect different types of information about your location, such as general information (e.g., IP address, zip code) and may use that information to customize the Service with location-based information and features.
        Shibpurhub may allow third parties to serve advertisements on third-party services and use other third parties to help us collect and analyze information about your use of the service, generate aggregate site usage statistics and provide content sharing services to support the Service. These third parties may also use cookies and similar technologies to collect similar non-personal information about your use of the Service. Shibpurhub does not control the third parties' use of such technologies and their use is governed by those parties' privacy policies.

    <br /><br />
    <p style="font-size: 20px; font-weight: bold">Non-Personally Identifiable Information:</p>
        We may aggregate and/or anonymize information collected through the Service so that the information does not identify you. We may use aggregated, anonymized, and other non-personally identifiable information for any purpose, including for research and marketing purposes, and our use and disclosure of such information is not subject to any restrictions under this Privacy Policy.

    <br /><br />
    <p style="font-size: 20px; font-weight: bold">How We Protect Your Information</p>
        Shibpurhub uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your personal information. We cannot, however, ensure or warrant the security of any information you transmit to Shibpurhub or guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.
        In the event that personal information is compromised as a result of a breach of security, Shibpurhub will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law.

    <br /><br />
    <p style="font-size: 20px; font-weight: bold">Your Choices About Your Information</p>
        You may, of course, decline to submit personally identifiable information through the Service, in which case Shibpurhub may not be able to provide certain services to you. You may update or correct your account information and email preferences at any time by logging in to your account.

    <br /><br />
    <p style="font-size: 20px; font-weight: bold">Links to Other Web Sites</p>
        We are not responsible for the practices employed by external websites whose links may be posted by our users, even if such websites are linked to or from Shibpurhub. We are also not responsible for the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy is no longer in effect. Your browsing and interaction on any other website, including those that have a link on our website, is subject to that website's own rules and policies.
        If you have any questions about our practices or this privacy policy, please contact us at <a href="mailto:privacy@shibpurhub.com">privacy@shibpurhub.com</a>
</div>
