<script type="text/javascript">
    $(document).ready(function () {
        
     
        $('#changepasswordsubmit').on('click', function() {
            //var f = document.getElementsByClassName('passwordchange')[0];
            //if (f.checkValidity()) {
            //    $myForm.find(':submit').click();
            //} else {
            //    alert(document.getElementById('oldpassword').validationMessage);
            //}
            //alert("hola");

            if ($(".passwordchangeform")[0].checkValidity()) {
                var oldpassword = $('#oldpassword').val();
                var newpassword = $('#newpassword').val();
                var confirmpassword = $('#confirmpassword').val();

                scAjax({
                    "url": "account/changepassword",
                    "type": "POST",
                    "data": JSON.stringify({ "OldPassword": oldpassword, "NewPassword": newpassword, "ConfirmPassword": confirmpassword }),
                    "success": function (result) {
                    },
                    "error": function (err) {
                        if (err.status == "401")
                            window.location.href = "/account/login";
                        else
                            alert(err.responseText);
                    }
                });
            } else console.log("invalid form");
           
        });
        });    
</script>

<form class="passwordchangeform">

    <div class="form-group">
        <label for="oldpassword" class="sr-only">Password</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>

            <input class="form-control oldpassword" data-val="true" data-val-required="The Password field is required." id="oldpassword" name="Password" placeholder="Current password" type="password" aria-required="true" required>
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword" class="sr-only">Password</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>

            <input class="form-control password" data-val="true" data-val-required="The Password field is required." id="newpassword" name="Password" placeholder="New password" required type="password" aria-required="true" required>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmpassword" class="sr-only">Password</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>

            <input class="form-control confirmpassword" data-val="true" data-val-required="The Password field is required." id="confirmpassword" name="Password" placeholder="Confirm new password" type="password" aria-required="true" required>
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <input type="submit" value="Create" id="changepasswordsubmit" class="btn btn-default changepasswordsubmit"/>
        </div>
    </div>

 </form>


