<script type="text/javascript">
    $(document).ready(function () {

        $('#changepasswordsubmit').on('click', function (e) {
            e.preventDefault();
            if ($(".passwordchangeform")[0].checkValidity()) {
                var oldpassword = $('#oldpassword').val();
                var newpassword = $('#newpassword').val();
                var confirmpassword = $('#confirmpassword').val();

                scAjax({
                    "url": "account/changepassword",
                    "type": "POST",
                    "data": JSON.stringify({ "OldPassword": oldpassword, "NewPassword": newpassword, "ConfirmPassword": confirmpassword }),
                    "success": function (result) {
                        Command: toastr["error"]("Successfully changed your password")
                    },
                    "error": function (err) {
                        if (err.status == "401")
                            window.location.href = "/account/login";
                        else
                            alert(err.responseText);
                    }
                });
            } else Command: toastr["error"]("All form fields are mandatory")

        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading changepasswordheading">Change Password</div>
    <div class="panel-body changepasswordbody">
        <form class="passwordchangeform top-buffer2 col-md-offset-2 col-md-8" method="post">

            <div class="form-group">
                <label for="oldpassword" class="sr-only">Password</label>
                <input class="form-control oldpassword" data-val="true" data-val-required="The Password field is required." id="oldpassword" name="Password" placeholder="Current password" type="password" aria-required="true" required>
            </div>
            <div class="form-group">
                <label for="newpassword" class="sr-only">Password</label>
                <input class="form-control password" data-val="true" data-val-required="The Password field is required." id="newpassword" name="Password" placeholder="New password" required type="password" aria-required="true" required>
            </div>
            <div class="form-group">
                <label for="confirmpassword" class="sr-only">Password</label>
                <input class="form-control confirmpassword" data-val="true" data-val-required="The Password field is required." id="confirmpassword" name="Password" placeholder="Confirm new password" type="password" aria-required="true" required>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" id="changepasswordsubmit" class="btn btn-primary btn-sm changepasswordsubmit" />
            </div>
        </form>

    </div>
</div>



