@model ShibpurConnectWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<style type="text/css">
    body {
        margin-top: 50px;
    }

    .glyphicon {
        margin-right: 10px;
    }

    .panel-body {
        padding: 0px;
    }

        .panel-body table tr td {
            padding-left: 15px;
        }

        .panel-body .table {
            margin-bottom: 0px;
        }
</style>
<script type="text/javascript">
    function DisplayDiv(divName) {
        $('.bodycontent').children().hide();
        $('.' + divName).show();
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">   
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="glyphicon glyphicon-user">
                                </span>Profile
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#" onclick="DisplayDiv('personalinfo')">Personal Info</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" onclick="DisplayDiv('educationalbackground')">Education</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Experience</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>          
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-user">
                                </span>Account
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#" onclick="DisplayDiv('changepassword')">Change Password</a>
                                    </td>
                                </tr>                               
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="#" class="text-danger">
                                            Delete Account
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body bodycontent">
                    <div class="personalinfo col-md-6 col-md-offset-2">
                        @{ Html.RenderPartial("_PersonalInfo"); }
                    </div>
                    <div class="changepassword col-md-6 col-md-offset-2" style="display:none;">
                        @{ Html.RenderPartial("_ChangePassword"); }
                    </div>
                    <div class="educationalbackground col-md-6 col-md-offset-2" style="display:none;">
                        @{ Html.RenderPartial("_EducationalHistory"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



