@model ShibpurConnectWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<hgroup class="title">
    <h1 style="font-size: 20px;">Manage your account settings</h1>
</hgroup>
<hr id='greyseparator' />
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Html.ActionLink("Manage", "ManageLogins")
        </dd>
    </dl>
</div>
