@model ShibpurConnectWebApp.Models.WebAPI.UserProfile

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .user
    {
        margin-bottom:20px;
    }

    #userlist
    {
        margin-top:40px;
    }

    .moduleheader {
        font-size: 18px;
    }

    .input-group {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    /*align loading div centered*/
    #loadingusers {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

   /*typehead css*/

    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999;
    }

    .tt-dropdown-menu {
        width: 422px;
        margin-top: 4px;
        padding: 4px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        line-height: 24px;
    }

        .tt-suggestion.tt-cursor {
            color: #fff;
            background-color: #0097cf;
        }

        .tt-suggestion p {
            margin: 0;
        }

</style>

<script type="text/javascript">
    // variable to keep the all users data that we will receive from the api, and will use this when 
    // user will clear the search text from the search box
    var allusers;
    $(document).ready(function () {
        jQuery.support.cors = true;
        var SERVER = "/api/";
        //$('#select_categories').tokenInput("/api/categories/GetCategories");       

        scAjax({
            "url": "users/GetAllUsers",
            "success": function (result) {
                if (!result) {
                    return;
                }

                // save the api result in the global variable 'userlist'
                allusers = result;

                // hide the loading div
                $('#loadingusers').hide();

                $(result).each(function (i, userinfo) {
                    if (userinfo.profileImageURL == null)
                        $('#userlist').append("<div class='user col-md-3'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                    else
                        $('#userlist').append("<div class='user col-md-3'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + userinfo.profileImageURL + "'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                });
            }
        });
    });

    // This method will execute when user will type user details in the serach box
    $(function () {
        $('#usernametext').keyup(function (event) {
            var searchValue = $(this).val();

            // enable loading div
            $('#loadingusers').show();

            setTimeout(function () {
                if (searchValue == $('#usernametext').val() && searchValue != null && searchValue != "") {
                    scAjax({
                        "url": "search/SearchUsers",
                        "data": { "searchTerm": searchValue },
                        "success": function (result) {
                            if (!result) {
                                return;
                            }

                            // clear the users
                            $('#userlist').empty();
                            // hide the loading
                            $('#loadingusers').hide();

                            // if no user found then show this message
                            if (result.length == 0) {
                                $('#userlist').append("<span>No user found</span>");
                                return;
                            }
                            else {
                                // update the div with the user data received from the API
                                $(result).each(function (i, userinfo) {
                                    if (userinfo.profileImageURL == null)
                                        $('#userlist').append("<div class='user col-md-3'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                                    else
                                        $('#userlist').append("<div class='user col-md-3'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + userinfo.profileImageURL + "'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                                });
                            }
                        }
                    });
                }
                else if (searchValue == '') {
                    // user have cleared all text from the text field so load all previous users
                    // clear the existing users
                    $('#userlist').empty();
                    // hide the loading
                    $('#loadingusers').hide();

                    // if no user found then show this message
                    if (allusers.length == 0) {
                        $('#userlist').append("<span>No user found</span>");
                        return;
                    }
                    else {
                        $(allusers).each(function (i, userinfo) {
                            if (userinfo.profileImageURL == null)
                                $('#userlist').append("<div class='user col-md-3'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                            else
                                $('#userlist').append("<div class='user col-md-3'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + userinfo.profileImageURL + "'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                        });
                    }
                }
            }, 400);
        });
    });
</script>

<div>
    <div class="col-md-12">
        <div class="row subheader" style="border-bottom-style:dotted">
            <h2 class="moduleheader" style="float:left;">Users</h2>
            <div id="tabs" style="float:right">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#">reputation</a></li>
                    <li role="presentation"><a href="#">new users</a></li>
                    <li role="presentation"><a href="#">admins</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <form role="search" style="margin-top:20px;">                  
                    <div class="input-group input-group-sm" id="the-basics">
                        <input type="text" id="usernametext" class="form-control" placeholder="Search user by name, email, company" aria-describedby="sizing-addon3">
                        @*<div class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </div>*@
                    </div>
                </form>
                @*<div id="the-basics">
                    <input class="typeahead" type="text" placeholder="States of USA">
                </div>*@
            </div>
        </div>
        <div id="userlist">
            
        </div>
        <div id="loadingusers">
            <i class="fa fa-refresh fa-spin"></i><span> Loading....</span>
        </div>
    </div>
</div>

