@model ShibpurConnectWebApp.Models.WebAPI.Notifications

@{
    ViewBag.Title = "Notifications";
}

<style type="text/css">
    #askedby{
        margin-bottom:50px;
    }
</style>

<script type="text/javascript">
    // get all the notifications
    $(document).ready(function () {
        var userDetails = sessionStorage.getItem("SC_Session_UserDetails");
        if (userDetails) {
            var userInfo = $.parseJSON(userDetails);           
        }

        jQuery.support.cors = true;
        var SERVER = "/api/";
        var token = localStorage.getItem("TOKEN") || "UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT";
        $.ajax({
            url: SERVER + "notifications/GetNotifications?userId=" + userInfo.userId,
            type: "GET",
            dataType: "json",
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (result) {
                if (!result) {
                    return;
                }
                // remove existing notifications and add new ones
                $("#notificationlist").empty();

                // append notifications
                jQuery.each(result, function (i, val) {
                    $("#notificationlist").append(val.notificationContent + "<hr/>");
                });

            }
        });
    });
</script>

<div class="col-md-8">
    <h4>Your Notifications</h4><hr />

    <div id="notificationlist">

    </div>
</div>