@model ShibpurConnectWebApp.Models.WebAPI.Notifications

@{
    ViewBag.Title = "Notifications";
}

<style type="text/css">
    #askedbyfornotificationpage {
        min-height:50px;
    }
</style>

<script type="text/javascript">
    // get all the notifications
    var IMGURPATH = "http://i.imgur.com/";
    $(document).ready(function () {
        var userDetails = localStorage.getItem("SC_Session_UserDetails");
        if (userDetails) {
            var userInfo = $.parseJSON(userDetails);           
        }

        jQuery.support.cors = true;
        var SERVER = "/api/";
        var token = localStorage.getItem("TOKEN") || "UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT";
        $.ajax({
            url: SERVER + "notifications/GetNotifications?userId=" + userInfo.id,
            type: "GET",
            dataType: "json",
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (result) {
                if (!result) {
                    return;
                }
                // notification page call
                // remove existing notifications and add new ones
                $("#notificationlist").empty();

                // append notifications
                jQuery.each(result, function (i, val) {
                    var notificationContent = $.parseJSON(val.notificationContent);

                    // add 's' in the imgur profile image url so that we don't download the full size image
                    if (notificationContent.profileImage.charAt(notificationContent.profileImage.indexOf('.jpg') - 1) != 's') {
                        notificationContent.profileImage = notificationContent.profileImage.replace('.jpg', 's.jpg');
                    }

                    if (val.hasVisited == false) {
                        // if notification type is 'ask to answer' then execute this
                        if (val.notificationType == 4) {
                            var notificationContentWithColor = "<div class='well' id='lessbottommargin' onclick=\"MarkItRead(" + "'/feed/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + notificationContent.profileImage + "'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?userId=" + notificationContent.askedBy + "'>" + notificationContent.displayName + "</a> requested you to answer '" + notificationContent.questionTitle + "'</div>";
                            $("#notificationlist").append(notificationContentWithColor);
                            $("#notificationlist").append("<hr id='nomarginhr'/>");
                        }

                            // if notification type is 'received answer' then execute this
                        else if (val.notificationType == 2) {
                            var notificationContentWithColor = "<div class='well' id='lessbottommargin' onclick=\"MarkItRead(" + "'/feed/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + notificationContent.profileImage + "'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?userId=" + notificationContent.answeredBy + "'>" + notificationContent.displayName + "</a> wrote an answer to your question '" + notificationContent.questionTitle + "'</div>";
                            $("#notificationlist").append(notificationContentWithColor);
                            $("#notificationlist").append("<hr id='nomarginhr'/>");
                        }
                            // if notification type is 'received comment' then execute this
                        else if (val.notificationType == 3) {
                            var notificationContentWithColor = "<div class='well' id='lessbottommargin' onclick=\"MarkItRead(" + "'/feed/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + notificationContent.profileImage + "'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?userId=" + notificationContent.commentedBy + "'>" + notificationContent.displayName + "</a> wrote a comment to your question '" + notificationContent.questionTitle + "'</div>";
                            $("#notificationlist").append(notificationContentWithColor);
                            $("#notificationlist").append("<hr id='nomarginhr'/>");
                        }
                    }
                    else {
                        // if notification type is 'ask to answer' then execute this
                        if (val.notificationType == 4) {
                            var notificationContentWithoutColor = "<div class='well whitewell' id='lessbottommargin' onclick=\"MarkItRead(" + "'/feed/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + notificationContent.profileImage + "'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?userId=" + notificationContent.askedBy + "'>" + notificationContent.displayName + "</a> requested you to answer '" + notificationContent.questionTitle + "'</div>";
                            $("#notificationlist").append(notificationContentWithoutColor);
                            $("#notificationlist").append("<hr id='nomarginhr'/>");
                        }

                            // if notification type is 'received answer' then execute this
                        else if (val.notificationType == 2) {
                            var notificationContentWithColor = "<div class='well whitewell' id='lessbottommargin' onclick=\"MarkItRead(" + "'/feed/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + notificationContent.profileImage + "'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?userId=" + notificationContent.answeredBy + "'>" + notificationContent.displayName + "</a> wrote an answer to your question '" + notificationContent.questionTitle + "'</div>";
                            $("#notificationlist").append(notificationContentWithColor);
                            $("#notificationlist").append("<hr id='nomarginhr'/>");
                        }
                            // if notification type is 'received comment' then execute this
                        else if (val.notificationType == 3) {
                            var notificationContentWithColor = "<div class='well whitewell' id='lessbottommargin' onclick=\"MarkItRead(" + "'/feed/" + notificationContent.questionId + "','" + val.notificationId + "')\"><div class='profileimage' style='float:left;margin-right:8px;margin-left:8px;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + notificationContent.profileImage + "'></img></div><div id='askedby'><a href='" + window.location.origin + "/Account/Profile?userId=" + notificationContent.commentedBy + "'>" + notificationContent.displayName + "</a> wrote a comment to your question '" + notificationContent.questionTitle + "'</div>";
                            $("#notificationlist").append(notificationContentWithColor);
                            $("#notificationlist").append("<hr id='nomarginhr'/>");
                        }
                    }
                });

            }
        });
    });
</script>

<div class="col-md-8">
    <h4>Your Notifications</h4><hr id='nomarginhr' />

    <div id="notificationlist">

    </div>
</div>