@{
    ViewBag.Title = "Contact - ShibpurHub";
}
<h2>Contact Us</h2>
<h3>@ViewBag.Message</h3>

<address>
    ShibpurHub<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:admin@shibpurhub.com">admin@shibpurhub.com</a><br />
</address>