@{
    ViewBag.Title = "Contact - SnapResponses";
}
<h2>Contact Us</h2>
<h3>@ViewBag.Message</h3>

<!--this knockout js will save the token in the session storage and we want to make the call only when user is logged in-->
@if (User.Identity.IsAuthenticated)
{
    @section Scripts{
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")
    }
}

<address>
    <strong>Admin:</strong> <a href="mailto:team@snapresponses.com">team@snapresponses.com</a><br/>
</address>

