@{
    ViewBag.Title = "About Us - ShibpurHub";
}

<!--this knockout js will save the token in the session storage and we want to make the call only when user is logged in-->
@if (User.Identity.IsAuthenticated)
{
    @section Scripts{
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")
    }
}



<div class="col-md-12 col-xs-12">
    <h2>About Us</h2>
    Shibpurhub will help you connect to other alumni/students of IIEST, Shibpur. If you want to reach out and have access to the most comprehensive network of successful IIEST alumni, residing all across the globe, come to Shibpurhub!
    <br/><br/>
    For students still in college and looking to launch your career after graduation, the alumni base can help you put your foot in the door. Those who would like to seek advice and information from your alumni in order to either make a career decision, or need to understand how best you can prepare for job interviews and graduate school applications, reach out to your network at Shibpurhub!
    <br /><br />
     Yes, there are Facebook/LinkedIn groups which might give you some access to your alumni. However, LinkedIn and Facebook feeds are diluted with a barrage of posts that can hide important information that your alumni and other students share.
    <br /><br />
    Shibpurhub is a networking platform dedicated solely to connecting IIEST students to the alumni and help channel your communications. Additionally, if you are an alumnus, this platform provides you an opportunity to tap into our beloved student community so that you benefit from a pool of candidates whom you can trust.
    <br /><br />
    Our application has the following features to help you benefit from other alumni/students -
    <ul style="list-style-type:circle">
        <li>Users can join discussion boards to talk about relevant topics. Questions and answers can relate to industry, advanced degrees, general career advice, help with moving to a new city, and other subjects.</li>
        <li>An 'Ask to Answer' feature which shows list of users who can best answer a question. The application can redirect the question to some users, and the asker of the question can also specifically request users for answers.</li>
        <li>Contents are categorized and managed per subject matter. e.g., if a user has questions on advanced degrees, they can follow the ‘Advanced degrees’ tag to get the relevant content.</li>
        <li>Alumni can post jobs for which they can refer current students or other alumni.</li>
        <li>Students/Alumni can find fellow students/alumni and connect with them.</li>
        <li>The personalized feed page for users is based on people or categories the user is following.</li>
    </ul>
</div>