@model ShibpurConnectWebApp.Models.WebAPI.Departments
  

<div class="form-group">
    @Html.DropDownListFor(model => model.Id, new SelectList(ViewBag.Departments, "Id", "DepartmentName"), "--Select Department--", new { @class = "form-control", @Id = "DepartmentDropdown" })
</div>
