@model ShibpurConnectWebApp.Models.WebAPI.Departments
    
<div class="form-group">
    @Html.LabelFor(m => m.Department, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Id, new SelectList(ViewBag.Departments, "Id", "Department"), "--Select Department--", new { @class = "form-control", @Id="DepartmentDropdown"})
    </div>
</div>
