<!--<link rel="stylesheet"  type="text/css" href="@Url.Content("~/Content/feed/feed.css")" />-->

<style type="text/css">
    body{
        background: #ECEFF1;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }

    .content-area {
        z-index: 190;
        padding-top: 25px;
        /*background: #ECEFF1;*/
        min-height: 1000px;
        padding-bottom: 80px;
        overflow: hidden;
        clear: both;
    }

    .main-content-area {
        /*padding-top: 50px;*/
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .left-side {
        position: relative;
    }

    .feed-list .thread {
        margin-bottom: 25px;
    }

    .thread {
        position: relative;
        font-size: 14px;
        padding: 0 15px;
        border: 0;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        transition: background,.3s,ease-in-out,.3s;
    }

    .post-header {
        background: #FFF;
        background: rgba(176,190,197,.16);
        margin-bottom: 15px;
        border-bottom: 1px solid #ECEFF1;
        padding: 13px 15px;
        overflow: auto;
    }

    .headers-col {
        padding: 0;
    }

    .profile-img-col {
        padding: 0;
        margin-right: 10px;
        float: left;
    }

    a.post-creator-image {
        display: block;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f2f2f2;
        background-size: cover;
        background-position: top center;
    }

    .thread .post-header .headers-col .header-text-content {
        line-height: 1;
        margin-bottom: 5px;
        float: left;
        min-width: 80%;
    }

    .thread .post-header p {
        margin: 0;
        padding: 0;
        font-weight: 300;
        color: #263238;
        font-size: 14px;
    }

    .thread .post-header .headers-col .tagline-text-content {
        font-size: 12px;
        color: #78909C;
        margin-bottom: -5px;
        line-height: 1.4;
        width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
    }

    .thread .post-header .topic-icon-placeholder {
        font-size: 12px;
        display: block;
        background: #f2f2f2;
        width: 30px;
        float: right;
        text-align: center;
        color: #FFF;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        padding: 6px 0 3px 0;
        text-decoration: none;
    }

    .thread .topic-icon-placeholder.follow {
        background: #18bc9c;
    }

    .thread .post-header .topic-icon-placeholder i {
        font-size: 16px;
    }

    .thread h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: .12px;
    }

        .thread h2 a {
            display: block;
            color: #263238;
            text-decoration: none;
        }

    .thread .post-description {
        margin-top: 10px;
        margin-bottom: 15px;
        font-weight: 300;
    }

    .post-description p {
        color: #546E7A;
        padding: 0;
        margin: 0;
        font-size: 16px;
    }

    .thread-details {
        border-radius: 4px;
        background: #FFF;
    }
    
    .thread-details-container
    {
        border-top: 1px solid #ECEFF1;
        padding: 10px 0;
        overflow: auto;
    }

    .thread .extra-details {
        font-size: 12px;
        color: #78909C;
        padding-top: 5px;
    }

    .thread .post-link-image-container {
        padding-right: 0;
    }

    .thread .post-link-image-small {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 120px;
        float: left;
        margin-bottom: 15px;
        background-size: cover;
        background-position: center center;
    }

    .list-inline {
        margin: 0;
        padding: 0;
    }

    .pull-left {
        float: left !important;
    }

    .list-inline {
        list-style: none;
    }

        .list-inline li {
            margin: 0;
            padding: 0 5px;
            float: left;
        }

    .thread .thread-details a.thumbs {
        display: block;
        height: 28px;
        margin-top: 0;
        overflow: hidden;
        margin-right: 10px;
        background: #ECEFF1;
        font-weight: 400;
        padding: 7.2px 8px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-bottom: 2px solid #CFD8DC;
        color: #455A64;
        font-size: 12px;
        text-decoration: none;
        line-height: 1;
        text-align: center;
        -webkit-transition: all,.2s,ease-in-out,.2s;
        -moz-transition: all,.2s,ease-in-out,.2s;
        -ms-transition: all,.2s,ease-in-out,.2s;
        -o-transition: all,.2s,ease-in-out,.2s;
        transition: all,.2s,ease-in-out,.2s;
    }
    
    .thread .thread-details a.thumbs:hover {
        background: #CFD8DC;
        border: 0;
    }
    
    .thread .thread-details a.thumbs.active
    {
        background: #4DB6AC;
        border-bottom: 2px solid #009688;
        color: #fff;
    }
    

    .upvote-ul, .follow-ul
    {
        display: none;
    }

    .thread-details span.gap {
        padding: 7.4px 4px;
        color: #ddd;
        font-weight: 700;
    }

    .thread.loadMoreContainer {
        padding-top: 0;
        padding-bottom: 0;
        background: #FFF;
    }

    .loadMore {
        display: block;
        color: #607D8B;
        font-weight: 400;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .post-description.profile dt {
        font-weight: 500;
    }

    #loading{
        text-align: center;
    }

    #loading span
    {
        display:inline-block;
        vertical-align: top;
        padding-top: 5px;
        padding-left: 10px;
    }
</style>

<script src="@Url.Content("~/Scripts/feed/feed.js?v=1.2")" type="text/javascript"></script>

<div class="main">    
    <div class="feed-list" id="threads">
        <div class="row item hide">
                    <div class="col-xs-12 thread">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row post-header">
                                    <div class="col-sm-10 col-xs-8 headers-col">

                                        <div class="profile-img-col hidden-xs">
                                            <a href="#" class="post-creator-image"></a>
                                        </div>
                                        <p class="header-text-content ">
                                            <a href="#" class="name-link">Pritam Karmakar</a>
                                            <span class="action"> asked a</span>
                                            <a href="#" class="type-link discussion target">Question</a>
                                        </p>
                                        <p class="tagline-text-content designation"></p>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 ">
                                        <h2 class="title">
                                            <a href="#">Need help to create shibpurhub animated video</a>
                                        </h2>

                                        <div class="post-description">
                                            <p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row thread-details">
                            <div class="thread-details-container">
                                <div class="col-xs-12 col-md-7">
                                    <ul class="list-inline pull-left upvote-ul">
                                        <li>
                                            <a href="#" class="thumbs" data-allowed="true"><i class="fa fa-arrow-up"></i> <span>Upvote</span></a>
                                        </li>
                                    </ul>
                                    <ul class="list-inline pull-left follow-ul">
                                        <li>
                                            <a href="#" class="thumbs" data-allowed="true"><i class="fa fa-plus-circle"></i> <span>Follow</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-5">
                                    <ul class="extra-details pull-right list-inline">
                                        <li>
                                            <span class="view-count"></span>
                                        </li>

                                        <li>
                                            <span class="answer-count"></span>
                                        </li>

                                        <li>
                                            <span class="post-pub-time">Jul 31, 2015</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <nav>
        <ul class="pagination pagination-sm">           
        </ul>
    </nav>     
</div>

<div id="loadingdiv">
    <i class="fa fa-refresh fa-spin"></i><span> Loading....</span>
</div> 
