<script type="text/javascript">
    // default user profile image path, when user signup in our site we assign this image as profile image by default
    var profiledefaultimage = '/Content/images/profile-image.jpg';
    $(document).ready(function () {
        scAjax({
            "url": "users/GetLeaderBoard?count=10",
            "success": function (result) {
                if (!result) {
                    return;
                }
                // enable the div
                $('.popularuserscontainerdiv').show();

                // hide the loading div
                $('#loadingusers').hide();

                $(result).each(function (i, userinfo) {
                    if (userinfo.profileImageURL == profiledefaultimage)
                        //$('#popularusers').append("<div class='media'><div class='media-left'><a href='#'><img class='media-object' src='http://i.imgur.com/WHFstjs.jpg'></a></div><div class='media-body'><h4 class='media-heading'>Media heading</h4></div></div>");
                        $('#popularusers').append("<div id='popularusersdiv'><div class='profileimage col-md-3 col-xs-3'><img class='avatar' src='/Content/images/profile-image.jpg'></img></div><div class='userinfo col-md-9 col-xs-9'><span class='name twelvepxfont'><a class='userName' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><p style='font-size:12px'>Reputation: " + userinfo.reputationCount + "</p></div></div>")
                    else
                    {
                        // form the smaller imgur image by adding 's' before '.jpg'
                        if (userinfo.profileImageURL.charAt(userinfo.profileImageURL.indexOf('.jpg') - 1) != 's') {
                            userinfo.profileImageURL = IMGURPATH + userinfo.profileImageURL.replace('.jpg', 's.jpg');
                        }
                        else
                            userinfo.profileImageURL = IMGURPATH + userinfo.profileImageURL;
                
                        $('#popularusers').append("<div id='popularusersdiv'><div class='profileimage col-md-3 col-xs-3'><img class='avatar' src='" + userinfo.profileImageURL + "'></img></div><div class='userinfo col-md-9 col-xs-9'><span class='name twelvepxfont'><a class='userName' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><p style='font-size:12px'>Reputation: " + userinfo.reputationCount + "</p></div></div>")
                }
                });
            }
        });
    });
</script>

<style type="text/css">
    .popularuserscontainerdiv {
        /*padding: 2px;*/
        background-color: #4DB6AC;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

    /*.sidebar-header {
        margin-bottom: 20px;
        position: relative;
        top: 5px;
        color: #eee;
        padding-left: 10px;
    }

    .sidebar-header h5{
        padding-top: 10px;
    }*/

    /*question count font size in each tag*/
    #answercount {
        font-size: 10px;
    }
    #popularusers
    {
        background: #fff;
       padding-top: 0;
    }

    div#popularusersdiv {
    padding: 5px 0;
    overflow: auto;
}
    div#popularusersdiv:hover {
        background-color: rgba(176,190,197,.16);
    }
    #popularusers span.name{
         white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 98%;
    }
    #popularusersdiv .userinfo
    {
        padding-left: 8px;
    }
</style>



<div class="sidebar-container">
    <div class="sidebar-header">
        <h5>Top Contributors</h5>
        @*<hr id="bigseparator" />*@
    </div>
    <div id="popularusers" class="sidebar-content">
    </div>
</div>


