<script type="text/javascript">
    $(document).ready(function () {
        scAjax({
            "url": "tags/GetPopularTags?count=10",
            "success": function (result) {
                if (!result) {
                    return;
                }
                // enable the div, if it is disabled
                $('.tagcontainermaindiv').show();
                $.each(result, function (key, value) {
                    if (value.questionCount > 0)
                        $('#tagcloud').append("<div id='tagcontainerdiv'><i class='fa fa-tags'></i><a class='populartagname' href='/Feed/FeedByCategory?category=" + value.categoryName + "'> " + value.categoryName + "</a><span id='tagquestioncount'>&nbsp;&nbsp;" + value.questionCount + " questions</span></div>");
                    else
                        $('#tagcloud').append("<div id='tagcontainerdiv'><i class='fa fa-tags'></i><a class='populartagname' href='/Feed/FeedByCategory?category=" + value.categoryName + "'> " + value.categoryName + "</a><span id='tagquestioncount'>&nbsp;&nbsp;" + value.questionCount + " question</span></div>");
                });
            }
        });
    });
</script>

<style type="text/css">
    /*popular tag name font size*/
    .populartagname
    {
        font-size:13px;
    }
    .tagcontainermaindiv
    {
        padding-top: 3px;
    }

    /*tag container div padding*/
    #tagcontainerdiv
    {
        padding:4px;
    }     
     /*word break for all tags*/
    .thumbnail{
        word-break:break-all;
    }
    /*question count font size in each tag*/
    #tagquestioncount
    {
        font-size: 10px;
    }
</style>

<div class="well tagcontainermaindiv">
    <h5>Popular Tags</h5>
    <hr id="bigseparator" />
    <div id="tagcloud">
    </div>
</div>
