@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShibpurConnectWebApp.Models.DiscussionThread
@{
    ViewBag.Title = "Feed Details";
}

<style type="text/css">
    .block {
        border-top: 1px solid #d3d4cf;
        padding-top: 20px;
        margin-bottom: 29px;
    }
    .column {
        float: left;
        width: calc(85% - 20px);
        margin-right: 20px;
    }
    div.user {
        width: 70px;
        text-align: center;
        height: 70px;
        display: block;
        float: left;
    }

    .avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #CCCCCA;
        cursor: pointer;
        -webkit-transition: opacity ease-in-out .25s 0s;
        -moz-transition: opacity ease-in-out .25s 0s;
        -o-transition: opacity ease-in-out .25s 0s;
        transition: opacity ease-in-out .25s 0s;
    }

    .comment-form textarea {
        /*-webkit-appearance: none;
        line-height: 20px;
        background-color: #f9faf7;
        border: 1px solid #D9DAD6;
        padding: 9px 13px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        resize: none;
        height: 40px;*/
        border-radius: 5px;
    }

    .button, input[type=submit] {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 22px;
        padding-right: 22px;
        height: 40px;
        min-width: 104px;
        border-radius: 5px;
        border: 0;
        font-weight: 700;
        color: #fcfcfa;
        background-color: #7ab21e;
    }
    .comment-form.active form textarea {
        resize: vertical;
        margin-bottom: 11px;
        min-height: 50px;
        height: 150px;
        -webkit-transition: all cubic-bezier(.2,.04,.02,1.49) .35s 0s;
        -moz-transition: all cubic-bezier(.2,.04,.02,1.49) .35s 0s;
        -o-transition: all cubic-bezier(.2,.04,.02,1.49) .35s 0s;
        transition: all cubic-bezier(.2,.04,.02,1.49) .35s 0s;
    }
    .comment-form.active input[type=submit] {
        top: inherit;
        right: 0;
        bottom: 0;
    }
    #answerlist
    {
        list-style-type: none;
    }
    li.answer
    {
        padding-bottom: 15px;
    }
    #answerlist li:last-child {
        padding-bottom: 0;
    }

    li.answer div.stat
    {
        float: right !important;

    }
    div.stat
    {
        color: #808080;
        font-size: 9pt;
    }

    div.stat span
    {
        display: inline-block;
        width: 100%;
    }
    
</style>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")*@

<script src="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/wysihtml5x/dist/wysihtml5x-toolbar.min.js"></script>
<script src="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/jquery/dist/jquery.min.js"></script>
<script src="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/handlebars/handlebars.runtime.min.js"></script>
<script src="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/bootstrap/dist/css/bootstrap.min.css"/>
@*<link rel="stylesheet" type="text/css" href="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/bootstrap/dist/css/bootstrap-theme.min.css"></link>*@
<link rel="stylesheet" type="text/css" href="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/components/components-font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css" />

<script type="text/javascript">
    var questionID = '';
    $(document).ready(function () {
        jQuery.support.cors = true;
        var SERVER = "/api/";
        var url = window.location.href;
        var splitArr = url.split('/');
        questionID = splitArr[splitArr.length - 1];

        $.ajax({
            url: SERVER + "questions/GetQuestion",
            type: "GET",
            dataType: "json",
            data: { "questionId": questionID },
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
                //"Access-Control-Allow-Origin": "*"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function (result) {
                if (!result) {
                    return;
                }
                //debugger;
                var question = result;

                $('.header h1').text(question.title);
                $('.description').text(question.description);
            }
        });

        $.ajax({
            url: SERVER + "questions/IncrementViewCount",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({ "id": questionID }),
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function (result) {
                
            }
        });

        getAnswers();

        $('.btn-submit-answer').click(function () {
            saveAnswer();            
        });

        $('textarea').focus(function () {
            var textarea = $(this);
            $('.comment-form').addClass('active');
            var parentDiv = $(textarea).parent();
            $(parentDiv).removeClass("col-md-8").addClass("col-md-12");
            $(parentDiv).next().addClass("col-md-offset-9");
        });

        $('.textarea').wysihtml5();
    });

    function getMonth(month) {
        var monthArray = {
            "0": "Jan",
            "1": "Feb",
            "2": "Mar",
            "3": "Apr",
            "4": "May",
            "5": "Jun",
            "6": "Jul",
            "7": "Aug",
            "8": "Sep",
            "9": "Oct",
            "10": "Nov",
            "11": "Dec",
        }

        return monthArray[month];
    }

    function saveAnswer() {
        
        jQuery.support.cors = true;
        var userDetails = sessionStorage.getItem("SC_Session_UserDetails");
        if (!userDetails) {
            //TO-DO: Handle if userdetail is not available in Session Storage
            return;
        }

        var userInfo = $.parseJSON(userDetails);        

        var SERVER = "/api/";
        var userid = userInfo.userId;

        var token = localStorage.getItem("TOKEN") || "PTLp2jwqIgLZmDBqjtADmHdtHmKpEmy-KtrdrocIBR5dz2k0uHNdgLdeqm6bFODmjUxsgNkcr0LI2UGaT6xve1gxPaHjLAyqneD69pKNIVwpo6mGtiaemzfJFVgV_FS_Q6TzA5InNb16tGCu3VNoYdqQEJu-jLiX3uN3FNAjAUKElpYZbjk5fYZ7ZKZ3T0w7utu0rbNI2BWuxo4HADZ4wrvI1J_-8qnd4Sq1kYWBkdPFeqDO2HQ8Io-IiKSDmnFS";
        var answerObject = { "AnswerText": $('.textarea')[0].value, "QuestionId": questionID, "UserId": userid, "DisplayName": userInfo.firstName, "UserEmail": userInfo.email };
        

        $.ajax({
            url: SERVER + "Answers/PostAnswer",
            type: "POST",
            data: JSON.stringify(answerObject),
            contentType: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data, result) {
                if (result) {
                    // we have to replace '$('.textarea')[0].value' with the object coming from this POST call. As we need the anserid, datetime stamp, upvote, downvote count etc
                    //$('#answerdiv p').append($('.textarea')[0].value);

                    var utcDate = new Date(data.postedOnUtc);
                    var dateString = getMonth(utcDate.getMonth().toString()) + " " + utcDate.getDate() + " '" + utcDate.getFullYear().toString().substr(2, 2);


                    var answerBlock = $('#answerlist li.answer.hide').clone();
                    $(answerBlock).removeClass('hide');
                    $(answerBlock).find('.text').html(data.answerText);
                    $(answerBlock).find('.userName').text(data.displayName);
                    $(answerBlock).find('.date').text(dateString);

                    var userNameAnchor = $(answerBlock).find('div.user a.userName');
                    $(userNameAnchor).text(data.displayName);
                    if (data.userEmail != null) {
                        var url = $(userNameAnchor).attr('href') + '?userEmail=' + data.userEmail;
                        $(userNameAnchor).attr('href', url);
                    }

                    $('#answerlist').prepend(answerBlock);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var errorText = XMLHttpRequest.responseText.replace('{"message":"', " ").replace('"}', " ");
                $("#errorLabel").text(errorText);
            }
        });
    }

    function getAnswers()
    {
        jQuery.support.cors = true;
        var SERVER = "/api/";

        $.ajax({
            url: SERVER + "answers/GetAnswers",
            type: "GET",
            dataType: "json",
            data: { "questionId": questionID },
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function (result) {
                if (!result) {
                    return;
                }
                
                var save = $('#answerlist .answer.hide').detach();
                $('#answerlist').empty().append(save);

                $(result).each(function (index, answer) {
                    var answerBlock = $('#answerlist li.answer.hide').clone();
                    $(answerBlock).removeClass('hide');
                    $(answerBlock).find('.text').html(answer.answerText);
                    //$(answerBlock).find('.userName').text(answer.displayName);

                    var userNameAnchor = $(answerBlock).find('div.user a.userName');
                    $(userNameAnchor).text(answer.displayName);
                    if (answer.userEmail != null) {
                        var url = $(userNameAnchor).attr('href') + '?userEmail=' + answer.userEmail;
                        $(userNameAnchor).attr('href', url);
                    }

                    var utcDate = new Date(answer.postedOnUtc);
                    var dateString = getMonth(utcDate.getMonth().toString()) + " " + utcDate.getDate() + " '" + utcDate.getFullYear().toString().substr(2, 2);
                    $(answerBlock).find('.date').text(dateString);

                    $('#answerlist').prepend(answerBlock);
                });
            }
        });
    }
</script>



<div class="container">
    <div id="details">
        <div class="col-md-10">
            <div class="header col-md-12">
                <h1></h1>
            </div>
            <div class="description col-md-12">
            </div>
            <div class="tags col-md-10">
            </div>
            <div class="stat col-md-2">
                <span class="date"></span>
                <span class="answercount"></span>
            </div>
        </div>
    </div>

    <div id="moduleanswers" class="col-md-12">
        <h2>Answers:</h2>
        <ul id="answerlist">
            
                @*<div id="answerdiv">*@
                    <li class="hide answer col-md-10">
                        <div class="user">
                            <img class="avatar" width="40" height="40" src="/Content/images/profile-image.jpg">
                            <a class="userName" href="\Account\Profile"></a>
                        </div>
                        <div class="detail col-md-10">
                            <div class="text">
                            </div>                            
                            <div class="stat col-md-2">
                                <span class="date"></span>
                            </div>
                        </div>
                    </li>
                @*</div>*@
            
        </ul>
    </div>
    
    <div class="wirte-answer" style="margin-top:40px">
        <textarea class="textarea" placeholder="Enter text ..." style="width: 100%; height: 150px; font-size: 14px; line-height: 18px; padding: 10px 10px 10px 10px"></textarea>
        <a class="btn btn-primary btn-submit-answer" style=" margin-top: 10px;">Submit Answer</a>
        </div>
        @*<div class="column block left">
                <section>
                    <react render="commentCollection" context="context" post="post">
                        <section>
                            <aside class="comment-form">
                                <div class="user">
                                    <img class="avatar" width="40" height="40" src="/Content/images/profile-image.jpg">
                                    <span class="userName"></span>
                                </div>
                                <div class="col-md-10">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <textarea id="answerTextArea" class="form-control" required="" placeholder="Write an answer..." maxlength="6000"></textarea>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="submit" value="Answer Question" onclick="saveAnswer();return false;">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </aside>
                        </section>
                    </react>
                </section>
            </div>*@

    </div>

