
@{
    ViewBag.Title = "FeedByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>    
    <div class="col-md-9 col-xs-12">
        @Html.Partial("~/Views/PartialViews/_FeedList.cshtml")
    </div>
    <div class="col-md-3 col-xs-12">
        @Html.Partial("~/Views/PartialViews/_PopularTags.cshtml")
    </div>
    <div class="col-md-3 col-md-offset-9 col-xs-12">
        @Html.Partial("~/Views/PartialViews/_PopularQuestions.cshtml")
    </div>
</div>



