
@{
    ViewBag.Title = "FeedByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>    
    <div class="col-md-9">
        @Html.Partial("~/Views/PartialViews/_FeedList.cshtml")
    </div>
    <div class="col-md-3">
        <div class="tagCloud">
            <h3>Tags</h3><hr />
        </div>
    </div>
</div>



