@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        jQuery.support.cors = true;
        var SERVER = "/api/";
        var token = localStorage.getItem("TOKEN") || "UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT";
        //$('#select_categories').tokenInput("/api/categories/GetCategories");
        $.ajax({
            url: SERVER + "categories/GetCategories",
            type: "GET",
            dataType: "json",
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (result) {
                if (!result) {
                    return;
                }
                
                var categories = result;
                //var categoriesArray = [];
                $(categories).each(function (i, category) {
                    var option = $('<option>').text(category.categoryName).val(category.categoryId);
                    $('#select_categories').append(option);

                    //var objCategory = { "id": category.categoryId, "name": category.categoryName };
                    //categoriesArray.push(objCategory);
                });

                
                //$('#select_categories').tokenInput(categoriesArray);              


            }
        });

        $('#btn_Save').click(function () {
            var question = $('#txt_question').val();
            var description = $('#txtarea_description').val();
            var categories = $('#select_categories').val();
            if (!question || !description || !categories) {
                return;
            }

            var userDetails = sessionStorage.getItem("SC_Session_UserDetails");
            if (!userDetails) {
                //TO-DO: Handle if userdetail is not available in Session Storage
                return;
            }

            var userInfo = $.parseJSON(userDetails);            

            var arrCategories = categories.split(',');
            //$.each(categories.split(','), function () {
            //    arrCategories.push($(this).text());
            //});

            var userID = $('#hdnUserID').val();
            var data = {
                "Title": question,
                "Description": description,
                "HasAnswered": 0,
                "UserEmail": userInfo.email,
                "DisplayName": userInfo.firstName,
                "Categories": arrCategories
            };
            //debugger;
            var SERVER = "/api/";
            var token = localStorage.getItem("TOKEN") || "UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT";
            $.ajax({
                url: SERVER + "questions/PostQuestions",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(data,null,2),
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (result) {
                    if (!result) {
                        return;
                    }

                    document.location.href = "/Feed/Details/" + result.questionId;
                }
            });

            return false;

        });

        //var data = ["option 1", "option 2", "option 3"];
        //var items = data.map(function (x) { return { item: x }; });

        //$('#input-tags').selectize({
        //    delimiter: ',',
        //    persist: false,
        //    maxItems: 2,
        //    options: items,
        //    labelField: "item",
        //    valueField: "item",
        //    sortField: 'item',
        //    searchField: 'item'
        //});
    });

    
   
</script>



<h4>Details</h4>
<hr />
    <div class="panel-body">
        <form action="#" class="form-horizontal" method="post" role="form">
            <div class="form-group">
                <label class="control-label col-md-2" for="Question">Question</label>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" id="txt_question" placeholder="What is your question?" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="DetailedText">Description</label>
                <div class="col-md-6">
                    <textarea class="form-control" id="txtarea_description" placeholder="Description" rows="3" required></textarea>
                </div>
            </div>            
            <div class="form-group">
                <label class="control-label col-md-2" for="Categories">Categories</label>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" id="select_categories" placeholder="Add categories" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                <label class="col-md-2 control-label" for="Categories">Categories</label>
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <div class="col-md-12">                           
                            <select class="form-control" id="select_categories" multiple></select>
                        </div>
                    </div>
                    </div>
                </div>*@
            
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" class="btn btn-primary" id="btn_Save" value="Save">
                        </div>
                    </div>
</form>
        @*<div class="demo">
            <input type="text" value="test" class="demo-default selectized" id="input-tags" tabindex="-1" style="display: block;">
        </div>*@
    </div>

