<!DOCTYPE html>
@{
    Layout = "";
}

<html>
<head>
    <meta charset="utf-8">
    <title>SnapResponses - Open source Q&amp;A platform</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="open source, Q&A, question, answer, response, website, platform, framework, snap responses">
    <meta name="description" content="Open source question & answer platform to share knowledge and build your own community">

    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/landing/animate.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/landing/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="~/Content/landing/font-awesome.min.css">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/landing/templatemo-style.css?v=1.5">

</head>
<body>
    <!-- start preloader -->
    <div class="preloader">
        <div class="sk-spinner sk-spinner-rotating-plane"></div>
    </div>
    <!-- end preloader -->
    <!-- start navigation -->
    <nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">SnapResponses</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right text-uppercase">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#feature">Features</a></li>
                   @* <li><a href="#pricing">Pricing</a></li>*@
                    <li><a href="#livedemo">Live Demo</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
    <!-- start home -->
    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
                        <h1 class="text-upper">SnapResponses</h1>
                        <p class="tm-white">Open source Q&amp;A platform - inspired by <a href="http://stackoverflow.com">stackoverflow</a>. Share knowledge and build your community</p>
                        <img src="~/Content/images/landing/finallanding.png" class="img-responsive" alt="home img">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    <!-- start divider -->
    <section id="divider">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                    <i class="fa fa-laptop"></i>
                    <h3 class="text-uppercase">Technology</h3>
                    <p>ASP.NET MVC, MongoDB, Elasticsearch, SendGrid</p>
                </div>
                <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                    <i class="fa fa-heart"></i>
                    <h3 class="text-uppercase">Open Source Rocks</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                </div>
                @*<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                    <i class="fa fa-font"></i>
                    <h3 class="text-uppercase">GOOGLE FONT</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                </div>*@
            </div>
        </div>
    </section>
    <!-- end divider -->
    <!-- start feature -->
    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Ask new question</h2>
                    <p>Ask a new question when you need the information from the community</p>                   
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                    <img src="~/Content/images/landing/askaquestion.png" class="img-responsive" alt="feature img">
                </div>
            </div>
        </div>
    </section>
    <!-- end feature -->
    <!-- start feature1 -->
    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <img src="~/Content/images/landing/finallanding.png" class="img-responsive" alt="feature img">
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Ask to Answer</h2>
                    <p>An 'Ask to Answer' feature which shows list of users who can best answer a question. The asker of the question or anyone else from can also specifically request users for answers.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- end feature1 -->

    <!-- start download -->
    <section id="livedemo">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Live Demo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    <button class="btn btn-primary text-uppercase" onclick="location.href = 'http://www.snapresponses.com/feed';">Live Demo</button>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                    <img src="~/Content/images/landing/finallanding.png" class="img-responsive" alt="feature img">
                </div>
            </div>
        </div>
    </section>
    <!-- end download -->
    <!-- start contact -->
    <section id="contact">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <h2 class="text-uppercase">Get in touch</h2>
                        <p>Got any questions? We would love to hear from you.</p>
                        <!--<address>
                            <p><i class="fa fa-map-marker"></i>36 Street Name, City Name, United States</p>
                            <p><i class="fa fa-phone"></i> 010-010-0110 or 020-020-0220</p>
                            <p><i class="fa fa-envelope-o"></i> info@company.com</p>
                        </address>-->
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="contact-form">
                            <form action="#" method="post">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                                </div>
                                <div class="col-md-8">
                                    <input type="submit" class="form-control text-uppercase" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact -->
    <!-- start footer -->
    <footer>
        <div class="container">
            <div class="row">
                <p>Copyright © 2017 SnapResponses</p>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <script src="~/Scripts/landing/jquery.js"></script>
    <script src="~/Scripts/landing/bootstrap.min.js"></script>
    <script src="~/Scripts/landing/wow.min.js"></script>
    <script src="~/Scripts/landing/jquery.singlePageNav.min.js"></script>
    <script src="~/Scripts/landing/custom.js"></script>
</body>
</html>