<!DOCTYPE html>
@{
    Layout = "";
}

<html>
<head>
    <meta charset="utf-8">
    <title>SnapResponses - Open source Q&amp;A platform</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="open source, Q&A, question, answer, response, website, platform, framework, snap responses">
    <meta name="description" content="Open source question & answer platform to share knowledge and build your own community">

    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/landing/animate.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/landing/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="~/Content/landing/font-awesome.min.css">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/shibpurconnect")
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-91403917-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/landing/templatemo-style.css?v=1.8">
</head>
<body>
    <!-- start preloader -->
    <div class="preloader">
        <div class="sk-spinner sk-spinner-rotating-plane"></div>
    </div>
    <!-- end preloader -->
    <!-- start navigation -->
    <nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">        
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">SnapResponses</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right text-uppercase">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#feature">Features</a></li>
                    <li><a href="#livedemo">Demo</a></li>                   
                    <li><a href="#contact2">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
    <!-- start home -->
    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
                        <h1 class="text-upper">SnapResponses - Open Source Q&A Platform</h1>                        
                        <p class="tm-white">Inspired by <a href="http://stackoverflow.com">stackoverflow</a>. Build your own community without any limitation</p>
                        <img src="~/Content/images/landing/finallanding.png" class="img-responsive" alt="home img">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    <!-- start divider -->
    <section id="divider">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                    <i class="fa fa-laptop"></i>
                    <h3 class="text-uppercase">Technology</h3>
                    <p>ASP.NET MVC, Bootstrap CSS, MongoDB, Elasticsearch, SendGrid</p>
                </div>
                <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                    <i class="fa fa-github"></i>
                    <h3 class="text-uppercase">Open Source Rocks</h3>
                    <p>Our code is open source. Feel free to <a href="http://github.com/pritamkarmakar/shibpurhub">Fork it on Github</a></p>
                </div>
                @*<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                        <i class="fa fa-font"></i>
                        <h3 class="text-uppercase">GOOGLE FONT</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>*@
            </div>
        </div>
    </section>
    <!-- end divider -->
    <!-- start feature -->
    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Ask new question</h2>
                    <p>Ask a new question when you need the information from the community.</p>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                    <img src="~/Content/images/landing/askaquestion.png" class="img-responsive" alt="feature img">
                </div>
            </div>
        </div>
    </section>
    <!-- end feature -->
    <!-- start feature1 -->
    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <img src="~/Content/images/landing/asktoanswermb.png" class="img-responsive" alt="feature img">
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Experts to answer your question</h2>
                    <p> SnapResponses 'Ask to Answer' feature shows list of users who can best answer a question. The asker of the question or anyone else from the community can specifically request users to answer. Or user can search for a specific user to answer.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- start feature2 -->
    <section id="feature2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Instant notification</h2>
                    <p>SnapResponses will send instant notification for any activity. For example, when one user will ask another user to answer a question or a new answer get posted in a user question or someone comment on a user answer and many more.</p>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                    <img src="~/Content/images/landing/emailnotification.png" class="img-responsive" alt="feature img">
                </div>
            </div>
        </div>
    </section>
    <!-- end feature2 -->
    
    <!-- start demo -->
    <section id="livedemo">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                    <img src="~/Content/images/landing/finallanding.png" class="img-responsive" alt="feature img">
                </div>
                <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Demo</h2>
                    <p>Join SnapResponses community and see how it works.</p>
                    <button class="btn btn-primary text-uppercase" onclick="location.href = 'http://www.snapresponses.com/feed';">Snapresponses community</button>
                </div>
            </div>
        </div>
    </section>   
    <!-- end demo -->
    <!-- start contact -->
    <section id="contact2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 i text-center"><h2>Contact</h2><p><i class="fa fa-envelope-o"></i><a href="mailto: team@snapresponses.com" title="team@snapresponses.com" target="_blank" style="font-size:16px;">team@snapresponses.com</a></p><p class="text-center info">Have any question related to SnapResponses? Feel free to reach out to us</p></div>
                </div>
            </div>
    </section>

    <!-- end contact -->
    <!-- start footer -->
    <footer>
        <div class="container">
            <div class="row">
                <p>Copyright © 2017 SnapResponses</p>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <script src="~/Scripts/landing/jquery.js"></script>
    <script src="~/Scripts/landing/bootstrap.min.js"></script>
    <script src="~/Scripts/landing/wow.min.js"></script>
    <script src="~/Scripts/landing/jquery.singlePageNav.min.js"></script>
    <script src="~/Scripts/landing/custom.js"></script>
</body>
</html>