@{
    ViewBag.Title = "Forgot Password Confirmation - ShibpurHub";
}

<hgroup class="title">
    <h1 style="font-size:20px;">Forgot Password Confirmation</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
