@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";    
}

<script type="text/javascript">
        // get the user profile for this user
        $(document).ready(function() {
            jQuery.support.cors = true;
            var SERVER = "/api/";
            var profileEmail = @Html.Raw(Json.Encode(ViewData["profileEmail"]));

            // check if this call for a different user or current logged-in user. If there is no data in the TempData["profileEmail"] then consider current session user
            if (!profileEmail) {
                // get current user email from session
                var userDetails = localStorage.getItem("SC_Session_UserDetails");
                if (!userDetails) {
                    //TO-DO: Handle if userdetail is not available in Session Storage
                    return;
                }

                var userInfo = $.parseJSON(userDetails);
                profileEmail = userInfo.email;
            }
            $.ajax({
                url: SERVER + "profile/getprofile",
                type: "GET",
                dataType: "json",
                data: { "useremail": profileEmail },
                contentType: "application/json",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    //"Access-Control-Allow-Origin": "*"
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                },
                success: function(result) {
                    updateReputation(result.userInfo.userId);
                    if (!result) {
                        return;
                    }

                    $(".userdisplayname").text(result.userInfo.firstName + " " + result.userInfo.lastName);
                    $(".registeredon").after( getDateFormattedByMonthYear(result.userInfo.registeredOn));
                    $(".reputationcount").after(result.userInfo.reputationCount);
                    $(".userlocation").after(result.userInfo.location);
                    $(".aboutmeheading").text(result.userInfo.firstName + "'s Bio");
                    $(".aboutmebody").text(result.userInfo.aboutMe);
                    //$(".registeredon").insertAfter.append("<strong class='registrationdatespan'>Joined</strong>" + getDateFormattedByMonthYear(result.userInfo.registeredOn));

                    // iterate over all the educational histories
                    if(result.educationalHistories != null)
                    {
                        jQuery.each(result.educationalHistories, function(i, val) {
                            $('.educationbody').append("<div id=\"educationalDetails\"><h4 id=\"collegeName\">" + val.universityName + ", " + "<span id=\"department\">" + val.department + "</span></h4><P id=\"year\">" + val.graduateYear + "</P></div>");
                            if(i != result.educationalHistories.length - 1)
                            {
                                $('.educationbody').append("<hr id='dotted'/>");
                            }
                        });
                    }

                    // iterate over all the employment histories
                    if(result.employmentHistories != null)
                    {
                        jQuery.each(result.employmentHistories, function(i, val) {
                            //var eduDiv = document.getElementById('educationalList');
                            var months = ["January", "February", "March", "April", "May", "June", "July",
         "August", "September", "October", "November", "December"];
                            var utcDate = new Date(val.from);
                            var fromDate = months[utcDate.getMonth()] + " " + utcDate.getFullYear();

                            var toDate;
                            if (val.to != null)
                            {
                                var utcDateTo = new Date(val.to);
                                toDate = months[utcDateTo.getMonth()] + " " + utcDateTo.getFullYear();
                            }
                            else {
                                toDate = "Present";
                            }
                            $('#employmentdiv').append("<div id=\"employmentDetails\"><h4 id=\"experience\">" + val.title + ", " + "<span id=\"companyname\">" + val.companyName + "</span></h4><span id=\"timeframe\">" + fromDate + " - " + toDate + "</span></div><hr id='dotted'/>");
                        });
                    }
                }
            });
        });

        // method to save new educational history
        function saveEducationalHistory() {

            jQuery.support.cors = true;
            var SERVER = "/api/";

            var userDetails = localStorage.getItem("SC_Session_UserDetails");
            if (!userDetails) {
                //TO-DO: Handle if userdetail is not available in Session Storage
                return;
            }

            var userInfo = $.parseJSON(userDetails);
            var token = localStorage.getItem("TOKEN") || "PTLp2jwqIgLZmDBqjtADmHdtHmKpEmy-KtrdrocIBR5dz2k0uHNdgLdeqm6bFODmjUxsgNkcr0LI2UGaT6xve1gxPaHjLAyqneD69pKNIVwpo6mGtiaemzfJFVgV_FS_Q6TzA5InNb16tGCu3VNoYdqQEJu-jLiX3uN3FNAjAUKElpYZbjk5fYZ7ZKZ3T0w7utu0rbNI2BWuxo4HADZ4wrvI1J_-8qnd4Sq1kYWBkdPFeqDO2HQ8Io-IiKSDmnFS";
            var educationalHistory = '{"Department":' + '"' + $('#DepartmentDropdown option:selected').text() + '"' + ',"UniversityName":' + '"' + $('#UniversityName').val() + '"' + ',"GraduateYear":' + '"' + $('#GraduateYear').val() + '"' + ',"UserId":' + '"' + userInfo.userId + '"' + '}';

            // add spinner animation in the save button and change the text to 'Saving..'
            $('#addNewEducation > i').addClass('fa fa-circle-o-notch fa-spin');
            $('#addNewEducation > span').text(' Saving...');
            $.ajax({
                url: SERVER + "EducationalHistories/PostEducationalHistory",
                type: "POST",
                data: educationalHistory,
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function(data, result) {
                    if (result) {
                        // get the educational history from the server and update the div
                        $.ajax({
                            url: SERVER + "educationalhistories/geteducationalhistories",
                            type: "GET",
                            dataType: "json",
                            data: { "userEmail": userInfo.email },
                            contentType: "application/json",
                            headers: {
                                Accept: "application/json",
                                "Content-Type": "application/json",
                                //"Access-Control-Allow-Origin": "*"
                            },
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                            },
                            success: function(result) {
                                if (!result) {
                                    return;
                                }
                                // toggle the 'Add education' button, so that the form will get close
                                $("#educationContent").slideToggle();
                                // clear div content
                                $('#educationdiv').empty();
                                // remove the loading class from save button
                                $('#addNewEducation > i').removeClass('fa fa-circle-o-notch fa-spin');
                                $('#addNewEducation > span').text('Save');

                                // remove previous error if there is any
                                $('#failuremessage').css('display', 'none');

                                // iterate over all the educational histories
                                jQuery.each(result, function(i, val) {
                                    //$('#educationdiv').append("<div id=\"educationalDetails\"><h4 id=\"collegeName\">" + val.universityName + "</h4>, " + "<span id=\"department\">" + val.department + "</span><span id=\"year\">" + val.graduateYear + "</span></div><hr id='dotted'/>");
                                    $('#educationdiv').append("<div id=\"educationalDetails\"><h4 id=\"collegeName\">" + val.universityName + ", " + "<span id=\"department\">" + val.department + "</span></h4><P id=\"year\">" + val.graduateYear + "</P></div><hr id='dotted'/>");
                                });
                            }
                        });
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    var errorText = XMLHttpRequest.responseText.replace('{"message":"', " ").replace('"}', " ");
                    //$("#errorLabel").text(errorText);
                    $('#failuremessage').css('display', 'block');
                    $('#failuremessage').text(errorText);

                    // toggle the 'Add education' button, so that the form will get close
                    $("#educationContent").slideToggle();
                    // remove the loading class from save button
                    $('#addNewEducation > i').removeClass('fa fa-circle-o-notch fa-spin');
                    $('#addNewEducation > span').text('Save');
                }
            });
        }

        // method to save new employment history
        function saveEmploymentHistory() {
            jQuery.support.cors = true;
            var SERVER = "/api/";
            var userDetails = localStorage.getItem("SC_Session_UserDetails");
            if (!userDetails) {
                //TO-DO: Handle if userdetail is not available in Session Storage
                // show the error dialog
                return;
            }
            var userInfo = $.parseJSON(userDetails);
            var token = localStorage.getItem("TOKEN") || "PTLp2jwqIgLZmDBqjtADmHdtHmKpEmy-KtrdrocIBR5dz2k0uHNdgLdeqm6bFODmjUxsgNkcr0LI2UGaT6xve1gxPaHjLAyqneD69pKNIVwpo6mGtiaemzfJFVgV_FS_Q6TzA5InNb16tGCu3VNoYdqQEJu-jLiX3uN3FNAjAUKElpYZbjk5fYZ7ZKZ3T0w7utu0rbNI2BWuxo4HADZ4wrvI1J_-8qnd4Sq1kYWBkdPFeqDO2HQ8Io-IiKSDmnFS";
            var employmentHistory = '{"CompanyName":' + '"' + $('#CompanyName').val() + '"' + ',"From":' + '"' + $('input#From').val() + '"' + ',"To":' + '"' + $('#To').val() + '"' + ',"UserId":' + '"' + userInfo.userId + '"' + ',"Title":' + '"' + $('#Title').val() + '"' +
                ',"Location":' + '"' + $('#Location').val() + '"' + '}';

            // add spinner animation in the save button and change the text to 'Saving..'
            $('#addNewEmployment > i').addClass('fa fa-circle-o-notch fa-spin');
            $('#addNewEmployment > span').text(' Saving...');

            $.ajax({
                url: SERVER + "EmploymentHistories/PostEmploymentHistory",
                type: "POST",
                data: employmentHistory,
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function(data, result) {
                    if (result) {
                        // get the latest data from server and update the profile page
                        $.ajax({
                            url: SERVER + "employmenthistories/getemploymenthistories",
                            type: "GET",
                            dataType: "json",
                            data: { "userEmail": userInfo.email },
                            contentType: "application/json",
                            headers: {
                                Accept: "application/json",
                                "Content-Type": "application/json",
                                //"Access-Control-Allow-Origin": "*"
                            },
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                            },
                            success: function(result) {
                                if (!result) {
                                    return;
                                }

                                // clear div content
                                $('#employmentdiv').empty();
                                // remove the loading class from save button
                                $('#addNewEmployment > i').removeClass('fa fa-circle-o-notch fa-spin');
                                $('#addNewEmployment > span').text('Save');

                                // iterate over all the employment histories
                                jQuery.each(result, function(i, val) {
                                    var months = ["January", "February", "March", "April", "May", "June", "July",
            "August", "September", "October", "November", "December"];
                                    var utcDate = new Date(val.from);
                                    var fromDate = months[utcDate.getMonth()] + " " + utcDate.getFullYear();

                                    var toDate;
                                    if (val.to != null)
                                    {
                                        var utcDateTo = new Date(val.to);
                                        toDate = months[utcDateTo.getMonth()] + " " + utcDateTo.getFullYear();
                                    }
                                    else {
                                        toDate = "Present";
                                    }
                                    $('#employmentdiv').append("<div id=\"employmentDetails\"><h4 id=\"experience\">" + val.title + ", " + "<span id=\"companyname\">" + val.companyName + "</span></h4><span id=\"timeframe\">" + fromDate + " - " + toDate + "</span></div><hr id='dotted'/>");

                                });

                                // toggle the 'Add position' button, so that the form will get close
                                $("#employmentContent").slideToggle();

                                // remove previous error if there is any
                                $('#failuremessage').css('display', 'none');
                            }
                        });
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    var errorText = XMLHttpRequest.responseText.replace('{"message":"', " ").replace('"}', " ");
                    //$("#errorLabel").text(errorText);
                    $('#failuremessage').css('display', 'block');
                    $('#failuremessage').text(errorText);

                    // toggle the 'Add education' button, so that the form will get close
                    $("#employmentContent").slideToggle();
                    // remove the loading class from save button
                    $('#addNewEmployment > i').removeClass('fa fa-circle-o-notch fa-spin');
                    $('#addNewEmployment > span').text('Save');
                }
            });
        }

        // expand the new employment div
        $("#newPosition").click(function() {
            $("#employmentContent").slideToggle();
            if ($("#expanderSign").text() == "+") {
                $("#expanderSign").html("−");
            } else {
                $("#expanderSign").text("+");
            }
        });

        // expand the new education div
        $("#newEducation").click(function() {
            $("#educationContent").slideToggle();
            if ($("#expanderSign").text() == "+") {
                $("#expanderSign").html("−");
            } else {
                $("#expanderSign").text("+");
            }
        });

        // if user click on the Cancel button in the newEmployment div then collapse that div
        function cancelSaveEmploymentHistory() {
            $("#employmentContent").slideToggle();
            $('html, body').animate({ scrollTop:  $("#employmentContent").offset().top - 50 }, 'slow');
        }

        // if user click on the Cancel button in the newEducation div then collapse that div
        function cancelSaveEducationalHistory() {
            $("#educationContent").slideToggle();
        }

        function updateReputation(userId)
        {
            if(!userId)
            {
                return;
            }

            $.ajax({
                url: "/api/useractivity/GetUserReputation",
                type: "GET",
                dataType: "json",
                data: { "userId": userId },
                contentType: "application/json",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                },
                success: function (result) {
                    $('.repCount').text(result);
                }
            });
        }

</script>


<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="userdisplayname"></h1>

            <button type="button" class="btn btn-success">Follow</button>  <button type="button" class="btn btn-info">Send me a message</button>
            <br>
        </div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-cir img-responsive" src="http://www.rlsandbox.com/img/profile.jpg"></a>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left registeredon"><strong class="">Joined</strong></span> </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> ....</li>                
                <li class="list-group-item text-right">
                    <span class="pull-left userlocation"><strong class="">Location </strong></span> 

                </li>
            </ul>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    Website <i class="fa fa-link fa-1x"></i>

                </div>
                <div class="panel-body">
                    <a href="http://bootply.com" class="">...</a>

                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item text-muted">
                    Activity <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left reputationcount"><strong class="">Reputation</strong></span></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>

                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="panel panel-default">
                <div class="panel-heading aboutmeheading"></div>
                <div class="panel-body aboutmebody"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading educationheading">Education</div>
                <div class="panel-body educationbody">
                    
                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Pets I Own</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/people">
                                <div class="caption">
                                    <h3>
                                        Rover
                                    </h3>
                                    <p>
                                        Cocker Spaniel who loves treats.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/city">
                                <div class="caption">
                                    <h3>
                                        Marmaduke
                                    </h3>
                                    <p>
                                        Is just another friendly dog.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/sports">
                                <div class="caption">
                                    <h3>
                                        Rocky
                                    </h3>
                                    <p>
                                        Loves catnip and naps. Not fond of children.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>            
        </div>


        <div id="push"></div>
    </div>  
</div>

