@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    /*font size of the 'Questions' tab question title''*/
    .question-hyperlink {
        font-size: 18px;
    }

    .post-tag {
        padding: .2em .4em;
    }

    .user {
        margin-bottom: 20px;
    }

    #userlist {
        margin-top: 40px;
    }

    .nav-tabs li a {
        border: none;
        padding-right: 10px;
        color: #66757f;
    }

    ul.nav a:visited {
        background-color: white;
    }

    span#department {
        font-size: 15px;
    }

    #companyname {
        font-size: 14px;
        font-weight: bold;
    }

    hr#dotted {
        border-top: 1px dotted rgb(234, 231, 231);
        color: #fff;
        background-color: #fff;
        margin: 8px 0 8px 0;
    }

    hr {
        border-top: 1px solid rgb(234, 231, 231);
        margin: 8px 0 8px 0;
    }

    #collegeName span, #department span {
        font-size: 15px;
    }

    #collegeName {
        font-weight: bold;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    .center-block {
        text-align: center;
    }

    .imageDiv {
        display: none;
        position: absolute;
        bottom: 5px;
        right: 0;
        opacity: 0.75;
    }

    #imagePreview {
        width: 100%;
        height: 140px;
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        background-image: url('/Content/images/profile-image.jpg');
    }
    .userdisplayname
    {
        font-size: 32px;
        word-wrap: break-word;
    }
</style>

<script type="text/javascript">
    // userid of the user whose profile we are looking at
    var profileId;
    // get the user profile for this user
    $(document).ready(function() {
        jQuery.support.cors = true;

        // select the first tab 'Profile'
        $('.nav-tabs li:first').css("border-bottom", "3px solid #58C8C4");
        $('.nav-tabs li:first').css("font-weight", "bold");

        var SERVER = "/api/";
        profileId = @Html.Raw(Json.Encode(ViewData["userId"]));
        var loggedInUserId = "";

        // get current user id from local storage
        var userDetails = localStorage.getItem("SC_Session_UserDetails");
        var userInfo = $.parseJSON(userDetails);
        if (userInfo != null)
            loggedInUserId = userInfo.id;

        // If profileId is null then consider loggedInUserId. This will happen when a logged in user will click on the 'Profile' link from the navbar.
        // That url will be '/account/profile' without any userid. But if both are null then redirect to feed/index page
        if (profileId == null & loggedInUserId != null)
            profileId = loggedInUserId;

        $.ajax({
            url: SERVER + "profile/GetProfileByUserId",
            type: "GET",
            dataType: "json",
            data: { "userId": profileId },
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
                //"Access-Control-Allow-Origin": "*"
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
            },
            success: function(result) {
                if (!result) {
                    return;
                }
                $('.target').show();
                // hide the loading image
                $('#loadingdiv').hide();

                var userDetails = localStorage.getItem("SC_Session_UserDetails");
                if (userDetails) {
                    var userInfo = $.parseJSON(userDetails);
                    var loggedInUserId = userInfo.id;
                }

                // set page title
                document.title = result.userInfo.firstName + " " + result.userInfo.lastName + " - ShibpurHub";

                $(".userdisplayname").text(result.userInfo.firstName + " " + result.userInfo.lastName);
                $(".registeredon").after( getDateFormattedByMonthYear(result.userInfo.registeredOn));
                $(".reputationcount").after(result.userInfo.reputationCount);
                $(".userlocation").after(result.userInfo.location);
                $(".aboutmeheading").text(result.userInfo.firstName + "'s Bio");
                $(".aboutmebody").text(result.userInfo.aboutMe);
                $("#hdnUserId").val(result.userInfo.id);
                //$(".registeredon").insertAfter.append("<strong class='registrationdatespan'>Joined</strong>" + getDateFormattedByMonthYear(result.userInfo.registeredOn));

                if(result.userInfo.id == loggedInUserId)
                {
                    $("#imagePreview").siblings('.imageDiv').show();
                }
                if(result.userInfo.profileImageURL)
                {
                    $("#imagePreview").show().css("background-image", "url("+ IMGURPATH + result.userInfo.profileImageURL+")");
                }
                // iterate over all the educational histories
                if(result.educationalHistories != null)
                {
                    jQuery.each(result.educationalHistories, function(i, val) {
                        $('.educationbody').append("<div id=\"educationalDetails\"><span id=\"collegeName\">" + val.universityName + ", " + "</span><span id=\"department\">" + val.department + "</span><P id=\"year\">" + val.graduateYear + "</P></div>");
                        if(i != result.educationalHistories.length - 1)
                        {
                            $('.educationbody').append("<hr id='dotted'/>");
                        }
                    });
                }

                // iterate over all the employment histories
                if(result.employmentHistories != null)
                {
                    jQuery.each(result.employmentHistories, function(i, val) {
                        //var eduDiv = document.getElementById('educationalList');
                        var months = ["January", "February", "March", "April", "May", "June", "July",
     "August", "September", "October", "November", "December"];
                        var utcDate = new Date(val.from);
                        var fromDate = months[utcDate.getMonth()] + " " + utcDate.getFullYear();

                        var toDate;
                        if (val.to != null)
                        {
                            var utcDateTo = new Date(val.to);
                            toDate = months[utcDateTo.getMonth()] + " " + utcDateTo.getFullYear();
                        }
                        else {
                            toDate = "Present";
                        }
                        $('.employmentbody').append("<div id=\"employmentDetails\"><span id=\"experience\">" + val.title + ", " + "<span id=\"companyname\">" + val.companyName + "</span></span><br><span id=\"timeframe\">" + fromDate + " - " + toDate + "</span></div>");
                        if(i != result.employmentHistories.length - 1)
                        {
                            $('.employmentbody').append("<hr id='dotted'/>");
                        }
                    });
                }

                // iterate over all the tags user is following
                if(result.userInfo.tags != null)
                {
                    // enable follow tag div
                    $('.followtags').show();
                    jQuery.each(result.userInfo.tags, function(i, value) {
                        $('.followtagsbody').append("<div id='tagcontainerdiv' class='col-md-3 col-xs-12'><div class='col-md-1'><i class='fa fa-tags fa-lg'></i></div><div class='col-md-2'><a class='tagname' href='/Feed/FeedByCategory?category=" + value + "'> " + value + "</a></div></div>");
                    });
                }
            }
        });

        if(userInfo != null)
        {
            // find out if current user is following this user or not. Then change the button text accordingly from 'follow' -> 'following
            scAjax({
                "url": "profile/checkuserfollow?userId="+profileId,
                "success": function (result) {
                    if (!result) {
                        return;
                    }
                        $("#userfollowbutton > i").addClass('fa fa-check-circle');
                        $("#userfollowbutton > span").text(' Following');

                }
            });
        }

        // find total questions posted by this user
        scAjax({
            "url": "questions/getuserquestioncount?userId="+profileId,
            "success": function (result) {
                $(".userquestioncount").after("<a href='#tab4' onclick=activateTab('tab4')>" + result + "</a>");

            }
        });

        // find total answers posted by this user
        scAjax({
            "url": "answers/getuseranswercount?userId="+profileId,
            "success": function (result) {
                $(".useranswercount").after("<a href='#tab5' onclick=activateTab('tab5')>" + result + "</a>");

            }
        });


        $('#uploadImg').change(function(){
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

            if (/^image/.test( files[0].type)){ // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file

                reader.onloadend = function(){ // set image data as background of div
                    $('#anchorImage').hide();
                    var image = this.result;
                    $("#imagePreview").show().css("background-image", "url("+image+")");

                    var imageBase64 = image.replace(/.*,/, '');
                    imgurUpload(imageBase64);
                }
            }
        });
    });

    function imgurUpload(imageBase64) {
        var data = {"imageBase64": imageBase64};
        scAjax({
            "url": "profile/updateprofileimage",
            "type": "POST",
            "data": JSON.stringify(data, null, 2)
        });
    }

    // method to show profile, followers, following tabbed data
    function ShowTabbedData(obj)
    {
        // remove the styles from all 'li'
        $('.nav-tabs li').css("border-bottom", "none");
        $('.nav-tabs li').css("font-weight", "normal");

        // add border-bottom to the selected one
        $(obj).css("border-bottom", "3px solid #58C8C4");
        $(obj).css("font-weight", "bold");

        if($(obj).text().toLowerCase() == "followers")
        {
            $('.userprofiledivs').hide();
            $('.userfollowing').hide();
            $('.userquestions').hide();
            $('.useranswers').hide();

            // show the loading div
            $('#loadingdiv2').show();

            scAjax({
                "url": "profile/GetUserFollowers?userId="+profileId,
                "success": function (result) {
                    if (!result) {
                        return;
                    }

                    // remove previous values
                    $('.userfollowers').show();
                    $('.userfollowers').empty();

                    // hide the loading div
                    $('#loadingdiv2').hide();

                    if(result.length == 0)
                        $('.userfollowers').append("<p>No follower available</p>");

                    // iterate over all followers and add them in the div
                    $(result).each(function (i, userinfo) {
                        if (userinfo.profileImageURL == null)
                            $('.userfollowers').append("<div class='user col-md-4'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                        else
                            $('.userfollowers').append("<div class='user col-md-4'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + userinfo.profileImageURL + "'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                    });

                }
            });
        }
        else if($(obj).text().toLowerCase() == "profile")
        {
            $('.userprofiledivs').show();
            $('.userfollowers').hide();
            $('.userfollowing').hide();
            $('.userquestions').hide();
            $('.useranswers').hide();
        }
        else if($(obj).text().toLowerCase() == "following")
        {
            $('.userprofiledivs').hide();
            $('.userfollowers').hide();
            $('.userquestions').hide();
            $('.useranswers').hide();

            // show the loading div
            $('#loadingdiv2').show();

            scAjax({
                "url": "profile/GetUserFollowing?userId="+profileId,
                "success": function (result) {
                    if (!result) {
                        return;
                    }
                    // clear previous values
                    $('.userfollowing').show();
                    $('.userfollowing').empty();

                    // hide the loading div
                    $('#loadingdiv2').hide();

                    if(result.length == 0)
                        $('.userfollowing').append("<p>Not following anyone</p>");

                    // iterate over all followers and add them in the div
                    $(result).each(function (i, userinfo) {
                        if (userinfo.profileImageURL == null)
                            $('.userfollowing').append("<div class='user col-md-4'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='/Content/images/profile-image.jpg'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                        else
                            $('.userfollowing').append("<div class='user col-md-4'><div class='profileimage' style='float:left;'><img class='avatar' width='60' height='60' src='" + IMGURPATH + userinfo.profileImageURL + "'></img></div><div class='userinfo' style='float:left;'><span class='name'><a class='userName' style='margin-left:15px;' href='/Account/Profile?userId=" + userinfo.id + "'>" + userinfo.firstName + " " + userinfo.lastName + "</a></span><br/><span style='margin-left:15px;font-size:12px'>Reputation: " + userinfo.reputationCount + "</span></div></div>")
                    });

                }
            });
        }
        else if($(obj).text().toLowerCase() == "questions")
        {
            $('.userprofiledivs').hide();
            $('.userfollowers').hide();
            $('.userfollowing').hide();
            $('.useranswers').hide();

            // load user questions
            loaduserquestions(0);
        }
        else if($(obj).text().toLowerCase() == "answers")
        {
            $('.userprofiledivs').hide();
            $('.userfollowers').hide();
            $('.userfollowing').hide();
            $('.userquestions').hide();

            // load user answers
            loaduseranswers(0);
        }
    }

    // method to decide to call follow/unfollow javascript method
    function followUnfollowUser(obj)
    {
        if ($("#" + obj.id + " > span").text().trim().toLowerCase() == "follow")
            followuser(obj, profileId);
        else if($("#" + obj.id + " > span").text().trim().toLowerCase() == "unfollow")
            unfollowuser(obj, profileId);
    }

    // if user wants to see next page user question then this will execute
    $('.pagination li a').click(function () {
        var anchor = $(this);
        $('.pagination').hide();
        var page = parseInt($(anchor).text());
        loaduserquestions(page - 1);
        $('.pagination li.disabled').removeClass('disabled');
        $(anchor).parent().addClass('disabled');
        return false;
    });

    // load user questions
    function loaduserquestions(pagenumber) {
        $('#loadingdiv2').show();
        scAjax({
            "url": "questions/getquestionsbyuser",
            "data": { "userId": profileId, "page": pagenumber },
            "success": function (result) {
                if (!result) {
                    return;
                }

                // disable the loading div
                $('#loadingdiv2').hide();

                // clear previous values
                $('.userquestions').show();
                $('.userquestions').empty();

                // hide the loading div
                $('#loadingdiv2').hide();

                if(result.length == 0)
                    $('.userquestions').append("<p>No question posted</p>");

                // iterate over all questions and add them in the div
                $(result).each(function (i, question) {
                    $('.userquestions').append("<div id='"+ question.questionId +"'><div class='title'><a class='question-hyperlink' href='/feed/" + question.questionId + "'>" + question.title + "</a></div><div class='categories'></div></div>");
                    if (question.categories) {
                        $(question.categories).each(function (i, category) {
                            var tagAnchor = $('<a>').addClass('post-tag').text(category).attr('href', "/Feed/FeedByCategory?category=" + category);
                            $("#"+ question.questionId +" .categories").append(tagAnchor);
                        });
                    }
                    $('.userquestions').append("<hr>");
                });

            }
        });
    }

    // load user questions
    function loaduseranswers(pagenumber) {
        $('#loadingdiv2').show();
        scAjax({
            "url": "answers/getanswersbyuser",
            "data": { "userId": profileId, "page": pagenumber },
            "success": function (result) {
                if (!result) {
                    return;
                }

                // disable the loading div
                $('#loadingdiv2').hide();

                // clear previous values
                $('.useranswers').show();
                $('.useranswers').empty();

                // hide the loading div
                $('#loadingdiv2').hide();

                if(result.length == 0)
                    $('.useranswers').append("<p>No answer posted</p>");

                // iterate over all questions and add them in the div
                $(result).each(function (i, answer) {
                    $('.useranswers').append("<div id='"+ answer.questionId +"'><div class='title'><a class='question-hyperlink' href='/feed/" + answer.questionId + "'>" + answer.questionTitle + "</a></div><p>"+ answer.answerText  +"</p></div>");

                    $('.useranswers').append("<hr>");
                });

            }
        });
    }

    function activateTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').click();
    }
</script>

<div class="container target" style="display:none;">
    <!--<div class="row">

        <div class="col-sm-10">
            <h2 class="userdisplayname"></h2>
            <button type="button" class="btn btn-xs btn-success" id="userfollowbutton" onclick="followUnfollowUser(this);" onmouseout='changeuserfollowonmouseout(this);' onmouseover='changeuserfollowonmouseover(this);'><i class='fa fa-plus-circle'></i><span> Follow</span></button>
            @*<button type="button" class="btn btn-sm btn-info">Send a message</button>*@
            <br>
        </div>
        <div class="col-sm-2">
            @*<a id="anchorImage" href="/users" class="pull-right">
                <img title="profile image" class="img-cir img-responsive" src="~/Content/images/profile-image.jpg" />
            </a>*@
            <canvas id="imagePreview"></canvas>
            <div class="center-block imageDiv">
                <span class="btn btn-info btn-sm btn-file">
                    <i class="fa fa-camera"></i> <input type="file" id="uploadImg">
                </span>
            </div>
        </div>
    </div>
    <br>-->
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <div class="col-sm-8 col-sm-offset-2" style="padding: 0;">
                @*<a id="anchorImage" href="/users" class="pull-right">
                    <img title="profile image" class="img-cir img-responsive" src="~/Content/images/profile-image.jpg" />
                </a>*@
                <canvas id="imagePreview"></canvas>
                <div class="center-block imageDiv">
                    <span class="btn btn-info btn-sm btn-file">
                        <i class="fa fa-camera"></i> <input type="file" id="uploadImg">
                    </span>
                </div>
            </div>
            <div>
                <span class="userdisplayname"></span>
                <div class="form-group">
                    <button type="button" class="btn btn-xs btn-success" id="userfollowbutton" onclick="followUnfollowUser(this);" onmouseout='changeuserfollowonmouseout(this);' onmouseover='changeuserfollowonmouseover(this);'><i class='fa fa-plus-circle'></i><span> Follow</span></button>
                </div>
                    @*<button type="button" class="btn btn-sm btn-info">Send a message</button>*@
                </div>
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left registeredon"><strong class="">Joined</strong></span> </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> ....</li>
                <li class="list-group-item text-right">
                    <span class="pull-left userlocation"><strong class="">Location </strong></span>

                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item text-muted">
                    Activity <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left userquestioncount"><strong class="">Questions</strong></span></li>
                <li class="list-group-item text-right"><span class="pull-left useranswercount"><strong class="">Answers</strong></span></li>
                <li class="list-group-item text-right"><span class="pull-left reputationcount"><strong class="">Reputation</strong></span></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>

                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="activitynavigation" style="margin-bottom:10px;">
                <ul class="nav nav-tabs">
                    <li onclick="ShowTabbedData(this);"><a href="#tab1">PROFILE</a></li>
                    <li onclick="ShowTabbedData(this);"><a href="#tab2">FOLLOWERS</a></li>
                    <li onclick="ShowTabbedData(this);"><a href="#tab3">FOLLOWING</a></li>
                    <li onclick="ShowTabbedData(this);"><a href="#tab4">QUESTIONS</a></li>
                    <li onclick="ShowTabbedData(this);"><a href="#tab5">ANSWERS</a></li>
                </ul>
            </div>
            <div class="userprofiledivs">
                <div class="panel panel-default">
                    <div class="panel-heading aboutmeheading"></div>
                    <div class="panel-body aboutmebody"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading educationheading">Education</div>
                    <div class="panel-body educationbody">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading employmentheading">Employment</div>
                    <div class="panel-body employmentbody">
                    </div>
                </div>
                <div class="panel panel-default followtags" style="display:none;">
                    <div class="panel-heading">Tags I'm following</div>
                    <div class="panel-body followtagsbody">
                    </div>
                </div>
            </div>
            <div class="col-md-12 userfollowers" style="display:none;margin-top:20px;">
            </div>
            <div class="col-md-12 userfollowing" style="display: none; margin-top: 20px;">
            </div>
            <div class="col-md-12 userquestions" style="display: none; margin-top: 20px;">
                <div class="thread"></div>
                <nav>
                    <ul class="pagination"></ul>
                </nav>
            </div>
            <div class="col-md-12 useranswers" style="display: none; margin-top: 20px;">
                <div class="thread"></div>
                <nav>
                    <ul class="pagination"></ul>
                </nav>
            </div>
        </div>
        <div id="loadingdiv2" style="display:none;">
            <i class="fa fa-refresh fa-spin"></i><span> Loading....</span>
        </div>

        <div id="push"></div>
    </div>
    <input type="hidden" id="hdnUserId" value="" />
</div>

<div id="loadingdiv">
    <i class="fa fa-refresh fa-spin"></i><span> Loading....</span>
</div>

