@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";    
}

<style type="text/css">
    span#department {
        font-size: 15px;
    }

    #companyname {
        font-size: 14px;
        font-weight:bold;
    }

    hr#dotted {
        border-top: 1px dotted rgb(234, 231, 231);
        color: #fff;
        background-color: #fff;
        margin: 8px 0 8px 0;
    }

    hr {
        border-top: 1px solid rgb(234, 231, 231);
        margin: 8px 0 8px 0;
    }

    #collegeName span, #department span {
        font-size: 15px;
    }

    #collegeName {
        font-weight: bold;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    .center-block {
        text-align: center;
    }
    .imageDiv
    {
        display: none;
        position: absolute;
        bottom: 5px;
        right: 15px;
        opacity: 0.75;
    }
    #imagePreview {
        width: 100%;
        height: 140px;
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        background-image: url('/Content/images/profile-image.jpg');
    }
</style>



<script type="text/javascript">
        // get the user profile for this user
        $(document).ready(function() {
            jQuery.support.cors = true;
            var SERVER = "/api/";
            var profileEmail = @Html.Raw(Json.Encode(ViewData["profileEmail"]));
            var loggedInUserId = "";

            // check if this call for a different user or current logged-in user. If there is no data in the TempData["profileEmail"] then consider current session user
            if (!profileEmail) {
                // get current user email from session
                var userDetails = localStorage.getItem("SC_Session_UserDetails");
                if (!userDetails) {
                    //TO-DO: Handle if userdetail is not available in Session Storage
                    return;
                }

                var userInfo = $.parseJSON(userDetails);
                profileEmail = userInfo.email;
                loggedInUserId = userInfo.userId;
            }
            $.ajax({
                url: SERVER + "profile/getprofile",
                type: "GET",
                dataType: "json",
                data: { "useremail": profileEmail },
                contentType: "application/json",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    //"Access-Control-Allow-Origin": "*"
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                },
                success: function(result) {
                    if (!result) {
                        return;
                    }

                    var userDetails = localStorage.getItem("SC_Session_UserDetails");
                    if (userDetails) {
                        var userInfo = $.parseJSON(userDetails);
                        var loggedInUserId = userInfo.userId;
                    }                    

                    $(".userdisplayname").text(result.userInfo.firstName + " " + result.userInfo.lastName);
                    $(".registeredon").after( getDateFormattedByMonthYear(result.userInfo.registeredOn));
                    $(".reputationcount").after(result.userInfo.reputationCount);
                    $(".userlocation").after(result.userInfo.location);
                    $(".aboutmeheading").text(result.userInfo.firstName + "'s Bio");
                    $(".aboutmebody").text(result.userInfo.aboutMe);
                    $("#hdnUserId").val(result.userInfo.userId);
                    //$(".registeredon").insertAfter.append("<strong class='registrationdatespan'>Joined</strong>" + getDateFormattedByMonthYear(result.userInfo.registeredOn));

                    if(result.userInfo.userId == loggedInUserId)
                    {
                        $("#imagePreview").siblings('.imageDiv').show();
                    }
                    if(result.userInfo.profileImageURL)
                    {
                        $("#imagePreview").show().css("background-image", "url("+result.userInfo.profileImageURL+")");
                    }
                    // iterate over all the educational histories
                    if(result.educationalHistories != null)
                    {
                        jQuery.each(result.educationalHistories, function(i, val) {
                            $('.educationbody').append("<div id=\"educationalDetails\"><span id=\"collegeName\">" + val.universityName + ", " + "</span><span id=\"department\">" + val.department + "</span><P id=\"year\">" + val.graduateYear + "</P></div>");
                            if(i != result.educationalHistories.length - 1)
                            {
                                $('.educationbody').append("<hr id='dotted'/>");
                            }
                        });
                    }

                    // iterate over all the employment histories
                    if(result.employmentHistories != null)
                    {
                        jQuery.each(result.employmentHistories, function(i, val) {
                            //var eduDiv = document.getElementById('educationalList');
                            var months = ["January", "February", "March", "April", "May", "June", "July",
         "August", "September", "October", "November", "December"];
                            var utcDate = new Date(val.from);
                            var fromDate = months[utcDate.getMonth()] + " " + utcDate.getFullYear();

                            var toDate;
                            if (val.to != null)
                            {
                                var utcDateTo = new Date(val.to);
                                toDate = months[utcDateTo.getMonth()] + " " + utcDateTo.getFullYear();
                            }
                            else {
                                toDate = "Present";
                            }
                            $('.employmentbody').append("<div id=\"employmentDetails\"><span id=\"experience\">" + val.title + ", " + "<span id=\"companyname\">" + val.companyName + "</span></span><br><span id=\"timeframe\">" + fromDate + " - " + toDate + "</span></div>");
                            if(i != result.employmentHistories.length - 1)
                            {
                                $('.employmentbody').append("<hr id='dotted'/>");
                            }
                        });
                    }
                }
            });

            $('#uploadImg').change(function(){
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
 
                if (/^image/.test( files[0].type)){ // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file
                    
                    reader.onloadend = function(){ // set image data as background of div
                        $('#anchorImage').hide();
                        var image = this.result;
                        $("#imagePreview").show().css("background-image", "url("+image+")");

                        var imageBase64 = image.replace(/.*,/, '');
                        imgurUpload(imageBase64);
                    }
                }
            });
        });

    function imgurUpload(imageBase64) {

        var auth = 'Client-ID b079e1d3167ca54';
        $.ajax({
            url: 'https://api.imgur.com/3/image',
            type: 'POST',
            headers: {
                Authorization: auth,
                Accept: 'application/json'
            },
            data: {
                image: imageBase64,
                type: 'base64'
            },
            success: function(result) {
                var link = result.data.link;
                var data = {"userId": $("#hdnUserId").val(), "profileImageURL": link};
                scAjax({
                    "url": "profile/updateprofileimage",
                    "type": "POST",
                    "data": JSON.stringify(data, null, 2)
                });
            }
        });
    }
</script>


<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="userdisplayname"></h1>
            <button type="button" class="btn btn-success">Follow</button>  <button type="button" class="btn btn-info">Send me a message</button>
            <br>
        </div>
        <div class="col-sm-2">
            @*<a id="anchorImage" href="/users" class="pull-right">
                <img title="profile image" class="img-cir img-responsive" src="~/Content/images/profile-image.jpg" /></a>*@
            <canvas id="imagePreview"></canvas>
            <div class="center-block imageDiv">
                <span class="btn btn-info btn-sm btn-file">
                    <i class="fa fa-camera"></i> <input type="file" id="uploadImg">
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left registeredon"><strong class="">Joined</strong></span> </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> ....</li>                
                <li class="list-group-item text-right">
                    <span class="pull-left userlocation"><strong class="">Location </strong></span> 

                </li>
            </ul>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    Website <i class="fa fa-link fa-1x"></i>

                </div>
                <div class="panel-body">
                    <a href="http://bootply.com" class="">...</a>

                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item text-muted">
                    Activity <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left reputationcount"><strong class="">Reputation</strong></span></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>

                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="panel panel-default">
                <div class="panel-heading aboutmeheading"></div>
                <div class="panel-body aboutmebody"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading educationheading">Education</div>
                <div class="panel-body educationbody">
                    
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading employmentheading">Employment</div>
                <div class="panel-body employmentbody">

                </div>
            </div>               
        </div>


        <div id="push"></div>
    </div>  
    <input type="hidden" id="hdnUserId" value="" />
</div>

