@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";    
}

<style type="text/css">
    span#department {
        font-size: 15px;
    }

    #companyname {
        font-size: 14px;
        font-weight:bold;
    }

    hr#dotted {
        border-top: 1px dotted rgb(234, 231, 231);
        color: #fff;
        background-color: #fff;
        margin: 8px 0 8px 0;
    }

    hr {
        border-top: 1px solid rgb(234, 231, 231);
        margin: 8px 0 8px 0;
    }

    #collegeName span, #department span {
        font-size: 15px;
    }

    #collegeName {
        font-weight: bold;
    }
</style>



<script type="text/javascript">
        // get the user profile for this user
        $(document).ready(function() {
            jQuery.support.cors = true;
            var SERVER = "/api/";
            var profileEmail = @Html.Raw(Json.Encode(ViewData["profileEmail"]));

            // check if this call for a different user or current logged-in user. If there is no data in the TempData["profileEmail"] then consider current session user
            if (!profileEmail) {
                // get current user email from session
                var userDetails = localStorage.getItem("SC_Session_UserDetails");
                if (!userDetails) {
                    //TO-DO: Handle if userdetail is not available in Session Storage
                    return;
                }

                var userInfo = $.parseJSON(userDetails);
                profileEmail = userInfo.email;
            }
            $.ajax({
                url: SERVER + "profile/getprofile",
                type: "GET",
                dataType: "json",
                data: { "useremail": profileEmail },
                contentType: "application/json",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    //"Access-Control-Allow-Origin": "*"
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer UEkvwQmR0EOsdGd-9y_bqizgm7F6_qvHSy4tyeKGY9Kb93h2ASjLyvW4BdcuB9cGgt-PcACQAy7WBycNbplGPXtHI4_r4YOLjDeXcK6S4Cswk2SQ5R_51zV1cmytfczRkGM6RnRWKmH_yiIz-LPO6tByk28wkLDeeaLDnoiy6Zg6S5zk9uZZtrreZHRx3nl4SiCD3QKLtXqn7bGYGFF71D745YBAeAjNityNKpyum7pBnQSYpL5qYZHCjI3-94bT");
                },
                success: function(result) {
                    if (!result) {
                        return;
                    }

                    $(".userdisplayname").text(result.userInfo.firstName + " " + result.userInfo.lastName);
                    $(".registeredon").after( getDateFormattedByMonthYear(result.userInfo.registeredOn));
                    $(".reputationcount").after(result.userInfo.reputationCount);
                    $(".userlocation").after(result.userInfo.location);
                    $(".aboutmeheading").text(result.userInfo.firstName + "'s Bio");
                    $(".aboutmebody").text(result.userInfo.aboutMe);
                    //$(".registeredon").insertAfter.append("<strong class='registrationdatespan'>Joined</strong>" + getDateFormattedByMonthYear(result.userInfo.registeredOn));

                    // iterate over all the educational histories
                    if(result.educationalHistories != null)
                    {
                        jQuery.each(result.educationalHistories, function(i, val) {
                            $('.educationbody').append("<div id=\"educationalDetails\"><span id=\"collegeName\">" + val.universityName + ", " + "</span><span id=\"department\">" + val.department + "</span><P id=\"year\">" + val.graduateYear + "</P></div>");
                            if(i != result.educationalHistories.length - 1)
                            {
                                $('.educationbody').append("<hr id='dotted'/>");
                            }
                        });
                    }

                    // iterate over all the employment histories
                    if(result.employmentHistories != null)
                    {
                        jQuery.each(result.employmentHistories, function(i, val) {
                            //var eduDiv = document.getElementById('educationalList');
                            var months = ["January", "February", "March", "April", "May", "June", "July",
         "August", "September", "October", "November", "December"];
                            var utcDate = new Date(val.from);
                            var fromDate = months[utcDate.getMonth()] + " " + utcDate.getFullYear();

                            var toDate;
                            if (val.to != null)
                            {
                                var utcDateTo = new Date(val.to);
                                toDate = months[utcDateTo.getMonth()] + " " + utcDateTo.getFullYear();
                            }
                            else {
                                toDate = "Present";
                            }
                            $('.employmentbody').append("<div id=\"employmentDetails\"><span id=\"experience\">" + val.title + ", " + "<span id=\"companyname\">" + val.companyName + "</span></span><br><span id=\"timeframe\">" + fromDate + " - " + toDate + "</span></div>");
                            if(i != result.employmentHistories.length - 1)
                            {
                                $('.employmentbody').append("<hr id='dotted'/>");
                            }
                        });
                    }
                }
            });
        });
</script>


<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="userdisplayname"></h1>

            <button type="button" class="btn btn-success">Follow</button>  <button type="button" class="btn btn-info">Send me a message</button>
            <br>
        </div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-cir img-responsive" src="http://www.rlsandbox.com/img/profile.jpg"></a>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left registeredon"><strong class="">Joined</strong></span> </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> ....</li>                
                <li class="list-group-item text-right">
                    <span class="pull-left userlocation"><strong class="">Location </strong></span> 

                </li>
            </ul>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    Website <i class="fa fa-link fa-1x"></i>

                </div>
                <div class="panel-body">
                    <a href="http://bootply.com" class="">...</a>

                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item text-muted">
                    Activity <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> ...</li>
                <li class="list-group-item text-right"><span class="pull-left reputationcount"><strong class="">Reputation</strong></span></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>

                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="panel panel-default">
                <div class="panel-heading aboutmeheading"></div>
                <div class="panel-body aboutmebody"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading educationheading">Education</div>
                <div class="panel-body educationbody">
                    
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading employmentheading">Employment</div>
                <div class="panel-body employmentbody">

                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Pets I Own</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/people">
                                <div class="caption">
                                    <h3>
                                        Rover
                                    </h3>
                                    <p>
                                        Cocker Spaniel who loves treats.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/city">
                                <div class="caption">
                                    <h3>
                                        Marmaduke
                                    </h3>
                                    <p>
                                        Is just another friendly dog.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/sports">
                                <div class="caption">
                                    <h3>
                                        Rocky
                                    </h3>
                                    <p>
                                        Loves catnip and naps. Not fond of children.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>            
        </div>


        <div id="push"></div>
    </div>  
</div>

