@{
    ViewBag.Title = "All Tags - ShibpurHub";
}

<!--this knockout js will save the token in the session storage and we want to make the call only when user is logged in-->
@if (User.Identity.IsAuthenticated)
{
    @section Scripts{
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")
    }
}

<style type="text/css">
    /*tag name font size*/
    .tagname {
        font-size: 18px;
    }

    .tagcontainermaindiv {
        padding-top: 3px;
    }

    /*tag container div padding*/
    #tagcontainerdiv {
        padding: 8px;
    }

        #tagcontainerdiv:hover {
            /*background-color: #E4EDF4;*/
            border-radius: 5px;
        }
    /*word break for all tags*/
    .thumbnail {
        word-break: break-all;
    }
    /*question count font size in each tag*/
    #tagquestioncount {
        font-size: 10px;
    }

    /*follow button back ground color*/
    .followbutton {
        background-color: #E4EDF4;
        /*color: white;*/
    }

    /*align loading div centered*/
    #loadingtags {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* NEW TAGS*/
    #taglist {
        margin-top: 20px;
    }

    .list-inline {
        list-style: none;
    }

    .pull-left {
        float: left !important;
    }

    .list-inline li {
        margin: 0;
        padding: 0 5px;
        float: left;
    }

    body {
        background: #ECEFF1;
    }

    .tag-detail {
        display: block;
        background: #FFF;
        padding: 10px;
        -webkit-box-shadow: rgba(0,0,0,.0980392) 0 2px 4px,rgba(0,0,0,.0980392) 0 0 3px;
        -moz-box-shadow: rgba(0,0,0,.0980392) 0 2px 4px,rgba(0,0,0,.0980392) 0 0 3px;
        box-shadow: rgba(0,0,0,.0980392) 0 2px 4px,rgba(0,0,0,.0980392) 0 0 3px;
        margin: 10px 0;
        text-decoration: none;
    }

        .tag-detail a {
            display: inline-block;
            width: 100%;
            margin: 10px 0;
            font-size: 1.1em;
            color: #1F9684;
            font-weight: 400;
            margin-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
        }

    div.question-count {
        display: inline-block;
        height: 32px;
        font-size: 13px;
        font-weight: 500;
        color: rgba(0,0,0,0.6);
        line-height: 32px;
        padding: 0 12px;
        border-radius: 16px;
        background-color: #f5f5f5;
    }

     div.follow-small {
        display: inline-block;
        margin-top: 0;
        overflow: hidden;
        color: #ADB3B2;
        text-decoration: none;
        line-height: 1;        
        float: right;
        cursor:pointer;

        text-align: center; 
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding-left: 1px;
        padding-top: 7px;
        padding-left: 1px;
        border: solid 1px #CFD8DC;
    }

    div.follow-small.active {
        color: #4DB6AC;
        padding-top: 6px;
        padding-left: 0;
    }

    div.follow-small:hover {
        background: #CFD8DC;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // get current user id from local storage
        var userDetails = localStorage.getItem("SC_Session_UserDetails");
        var userInfo = $.parseJSON(userDetails);

        scAjax({
            "url": "tags/GetPopularTags",
            "success": function (result) {
                if (!result) {
                    return;
                }

                // hide the loading div
                $('#loadingtags').hide();

                var row = 0;
                var totalRows = Math.round(result.length / 3) - 1;
                $.each(result, function (key, value) {

                    var tagItem = $('#taglist .row .tag.hide').clone().removeClass('hide');

                    $(tagItem).find('a.tagname').text(value.categoryName).attr({ 'href': '/Feed/FeedByCategory?category=' + value.categoryName });
                    $(tagItem).find('.question-count span').text(value.questionCount);
                    var followButton = $(tagItem).find('.follow-small');
                    $(followButton).attr({ 'id': value.categoryName });
                    if (userInfo != null) {
                        $(tagItem).find('.follow-ul').show();
                    }
                    $('#taglist .row').append(tagItem);

                    $(followButton).click(function (event) {
                        event.preventDefault();
                        followunfollowtag(this);
                        $(this).find('i.fa').removeClass('fa-plus');
                        $(this).find('i.fa').addClass('fa-spinner');
                    });
                });

                if (userInfo != null) {
                    // find out what all tags current user is following and then update the button text accordingly from 'follow' -> 'following
                    scAjax({
                        "url": "tags/FindUserTags?userId=" + userInfo.id,
                        "success": function (result) {
                            if (!result) {
                                return;
                            }
                            $.each(result, function (key, value) {

                                var button = $("#" + value);
                                var icon = $(button).find('i.fa');

                                $(button).addClass('active');
                                $(icon).removeClass('fa-plus').addClass('fa-check');
                            });
                        }
                    });
                }
            }
        });
    });

    // function to follow a new tag
    function followunfollowtag(event) {
        var tagname = event.id;
        var shouldFollowTag = event.firstElementChild.outerHTML.indexOf('fa-plus') > 0;

        if (shouldFollowTag) {
            scAjax({
                "url": "tags/FollowNewTag?tagName=" + tagname,
                "type": "POST",
                "success": function (result) {
                    if (!result) {
                        return;
                    }

                    $(event).toggleClass('active');
                    $(event).find('i.fa').removeClass('fa-spinner');
                    $(event).find('i.fa').addClass('fa-check');

                    Command: toastr["success"]("Successfully subscribed to " + tagname);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (XMLHttpRequest.status == "401")
                        window.location.href = "/account/login";
                    else
                        Command: toastr["error"](tagname + " is not a valid tag");
                }
            });
        }
        else {
            scAjax({
                "url": "tags/unfollowtag?tagName=" + tagname,
                "type": "POST",
                "success": function (result) {
                    if (!result) {
                        return;
                    }

                    $(event).toggleClass('active');
                    $(event).find('i.fa').removeClass('fa-spinner');
                    $(event).find('i.fa').removeClass('fa-check');
                    $(event).find('i.fa').addClass('fa-plus');                    
                    Command: toastr["success"]("Successfully unsubscribed " + tagname);
                },
                "error": function () {
                    Command: toastr["error"]("Failed to unsubscribed this tag. Please try again");
                }
            });
        }
    }

    // change icon on mouse hover tag > index page
    function changetextonmouseoverfortagpage(event) {
        //$("#" + event.id + " > span").attr('style', 'color:black;font-weight:bold');

        if (event.firstElementChild.outerHTML.indexOf('fa-check') > 0) {
            $(event).find('i.fa').removeClass('fa-check');
            $(event).find('i.fa').addClass('fa-minus');                
        }
        else if (event.firstElementChild.outerHTML.indexOf('fa-minus') > 0) {
            $(event).find('i.fa').removeClass('fa-minus');
            $(event).find('i.fa').addClass('fa-check');
        }
    }

    // change text of the follow button on mouse out
    function changetextonmouseoutfortagpage(event) {
        //$("#" + event.id + " > span").attr('style', 'color:black;font-weight:normal');

        if (event.firstElementChild.outerHTML.indexOf('fa-minus') > 0) {
            $(event).find('i.fa').removeClass('fa-minus');
            $(event).find('i.fa').addClass('fa-check');
        }
        else if (event.firstElementChild.outerHTML.indexOf('fa-check') > 0) {
            $(event).find('i.fa').removeClass('fa-check');
            $(event).find('i.fa').addClass('fa-minus');
        }
    }
</script>

<div class="taglistcontainer">
    <h4>All Tags</h4>
    <div id="taglist">
        <div class="row">
            <div class="col-md-2 col-xs-6 col-sm-6 tag hide">
                <div class="tag-detail">
                    <div>
                        <a class="tagname" href="/Feed/FeedByCategory?category=shibpurhub"> shibpurhub</a>
                    </div>
                    <div class="question-count" title="Number of questions"><i class="fa fa-star"></i><span></span></div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="follow-small" id="" onmouseout='changetextonmouseoutfortagpage(this);' onmouseover='    changetextonmouseoverfortagpage(this);'>
                            <i class="fa fa-plus"></i>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="loadingtags">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
    </div>
</div>

